[2022-05-04 07:10] tzilist commented on #1258
Aha! That fixed it!

If anyone else runs into this before the fix is merged/released, you can just create a file

`rust_rules.patch`
[code]

and add the following to your `http_archive` rule for `rules_rust`
[code]

[2022-05-04 10:21] jgao54 opened #1317 "Support "data" attribute for rust_doc_test"
Currently `rust_doc_test` does not support "data" dependency, so a `rust_doc_test` for a `rust_library` with data dependency (i.e. output from `genrule`) leads to errors like:

[2022-05-04 12:21] scentini commented on #1238
Yes, there is a benefit to propagating a `CcInfo` from a `rust_static_library` in that one can depend on a `rust_static_library` from a `cc_library` without specifying additional linker arguments.

[2022-05-04 20:36] jgao54 commented on #1303
+ for support for `rust_doc_test` as well!

[2022-05-05 10:52] imWildCat opened #1319 "Mac Catalyst support? `aarch64-apple-ios-macabi` and `x86_64-apple-ios-macabi`"
Do we have any plan for Mac Catalyst? Or would new PRs about Mac Catalyst support be reviewed?

[2022-05-05 15:17] UebelAndre commented on #1303
If anyone's got context on this, any PRs for this would be welcomed! 😄

[2022-05-05 15:29] keith commented on #1303
Note that having a test runner again would potentially help support code coverage as well. Although I'm sure there are downsides

[2022-05-05 16:13] UebelAndre commented on #1319
This might be something to bring up with https://github.com/bazelbuild/apple_support. Related changes for iOS (https://github.com/bazelbuild/rules_rust/pull/1304) were recently made. I think it'd be reasonable to make a similar change if there's existing constraints in that repo.

[2022-05-05 16:17] UebelAndre commented on #1048
Does it even make sense to run `clippy` on bindgen targets? Aren't those generated files and the defects are more-or-less out of users control?

[2022-05-05 16:28] keith commented on #1319
Fwiw bazel doesn't really support catalyst fully. Google pushed some incomplete stuff out for it that should be pretty easily fixable though. Should be fine to add here

[2022-05-05 16:47] csmulhern commented on #1048
I guess that's no longer true since the addition of clippy_flags in #1264.

[2022-05-06 08:14] hlopko commented on #1166
Yes I do anticipate that folks will need to inject dependencies, so adding a principled, supported feature for this sounds like a great idea. We'll explore the options in a separate issue/PR. Thanks!

[2022-05-06 08:14] hlopko commented on #1166
As for this issue, closing sounds good to me.

[2022-05-06 08:14] #1166 closed

[2022-05-06 15:12] #1048 closed

[2022-05-06 16:47] illicitonion opened #1321 "crates_repository fails if a workspace contains `.` as a member"
This `Cargo.toml`:

[code]

currently fails to generate a repository because of this error:
[code]

where `package` is the package containing the above `Cargo.toml`.

We should do the path normalisation to absolute paths before filtering, and normalise out any `/./` or `/../` path segments too.

[2022-05-06 16:55] illicitonion opened #1322 "crates_repository should error on a call to `all_crate_deps` if no `Cargo.toml` is present"
Currently it silently returns no deps, which can lead to some confusing debugging.

[2022-05-07 16:42] UebelAndre commented on #1303
I think my only hesitation to adding a test runner again is breaking the ability to use `--run_under` for launching debuggers. I'm wondering if this might be something worth opening an upstream feature request for to maybe allow starlark rules to provide a process wrapper that can do some orchestration before running tests but not changing semantics about what binary will be start when a test is r

[2022-05-07 17:20] keith commented on #690
I've been looking into this a bit, and it's definitely possible today by using the C++ related coverage script attribute. It feels a bit like a hack but afaict there still no real movement in bazel around this.

[2022-05-07 17:22] keith commented on #1303
What orchestration are you thinking for this case?

I wonder if another approach would be to provide some library that could do this generation instead? I don't know rust very well but in apple land there is some infra for being able to observe test results in code, so that can actually be used in process to do this.

[2022-05-07 20:18] UebelAndre commented on #690
@keith What's this coverage script attribute?

[2022-05-07 20:42] keith commented on #690
Here's a super WIP version https://github.com/bazelbuild/rules_rust/pull/1324

[2022-05-09 12:52] roman-kashitsyn opened #1328 "Cargo.Bazel.lock generator behaves differently on Linux and macOS"
I have
[code]
in my crate_index config, and on macOS I see "selects": {} for the `prometheus` package in `Cargo.Bazel.lock`, while on Linux I see
[code]
The version generated on macOS doesn't compile on Linux:
[code]

[2022-05-09 14:07] hlopko commented on #690
FWIW I think that's our best shot at having working coverage for Rust anytime soon. Took a super-quick look and the PR looks reasonable. Thanks for working on it @keith!

[2022-05-09 15:23] #1322 closed

[2022-05-09 16:54] c-mita commented on #690
I have a personal desire to fix this; to create a general interface for rules to use to support coverage collection (along with cross-language support). But other things have stolen my time.

The `_lcov_merger` and `_collect_cc_coverage` attributes are your best bet for now.
I suppose technically those form something of an API, but they're completely undocumented.

[2022-05-09 16:57] keith commented on #690
Yea I haven't addressed _lcov_merger, but am using _collect_cc_coverage in https://github.com/bazelbuild/rules_rust/pull/1324, should work fine for now

[2022-05-09 17:10] #1321 closed

[2022-05-09 21:08] keith opened #1330 "rust_binary with crate_type = cdylib doesn't produce expected providers"
We have a rule like this:

[code]

which since https://github.com/bazelbuild/rules_rust/commit/5abeb93333db6ca1c44dbb55860987c408553a11 (in release 0.4.0) fails with:

[code]

It looks like the issue is that `rust_binary` still states that it will create `CrateInfo` yet it does not in this case. Our use case doesn't seem to care about this, so just removing that requirement is enough. This is repr

[2022-05-09 21:09] keith commented on #1330
Potential fix https://github.com/bazelbuild/rules_rust/pull/1331

cc @scentini

[2022-05-10 12:55] scentini commented on #1330
I think `rust_binary` shouldn't provide a `CrateInfo`, but one should still be able to depend on a `rust_binary` from `rust_test.crate`.  So we could instead provide a [`TestCrateInfo`](https://github.com/bazelbuild/rules_rust/blob/21eed19188c0359d72f9a508a0c0e7040ff20070/rust/private/providers.bzl#L111), like we now do for `rust_static_library` and `rust_shared_library`.
I can prepare a PR for th

[2022-05-10 13:09] roman-kashitsyn commented on #1328
I tried to reproduce this behavior on a small example but it didn't work.
Furthermore, I can't reproduce this behavior on a fresh checkout of my repo.

[2022-05-10 14:20] UebelAndre commented on #1231
Related, https://github.com/rust-lang/cargo/pull/10472 added support for `cargo add` so perhaps there's an easy way to take advantage of that as it stabilizes.

[2022-05-10 21:20] keith commented on #1330
I think that works already in the change I linked above, it just wasn't declared that way before, so bazel fails

[2022-05-13 18:42] PiotrSikora commented on #1330
This is fixed in #1315 (once it's merged).

[2022-05-13 21:14] roman-kashitsyn opened #1337 "crate_universe: cannot define two variants of the same library"
I need to use different variants of a library in the same workspace, depending on the target platform.
However, when I add the same package with different aliases to the `packages` section of `crates_repository` rule, the package disappears from the workspace. Minimal example:

`WORKSPACE.bazel`
[code]

[code]

The `Cargo.Bazel.lock` file is empty as well.

If I remove either of the library varian

[2022-05-16 09:35] illicitonion commented on #700
This got done as part of the cargo-bazel migration :)

[2022-05-16 09:35] #700 closed

[2022-05-16 15:34] scentini commented on #1330
@keith I meant also for the regular `crate_type = "bin"` `rust_binary` targets. I have https://github.com/bazelbuild/rules_rust/pull/1339 which is close to ready for review and should resolve this.

[2022-05-16 18:22] prestontw opened #1341 "Failing to vendor external deps due to `crate_vendor`'s `vendor_path` being absolute"
I'm trying to set up a project that can be built with both cargo and bazel. The repo is at https://github.com/prestontw/bazel-rust-vendored-experiment/tree/return-to-rust-rules

I'm trying to vendor external dependencies, but when I do, I see:
[code]
I see the same error if I rely on the default value.

From the error message and the directory path, it seems like the path is absolute rather than r

[2022-05-16 19:00] prestontw commented on #1341
(Quick follow-up, using these successfully vendored crate targets doesn't work. It gives the following error:
[code]
I've removed the absolute path prefix to get the actual project building again.)

[2022-05-16 19:04] UebelAndre commented on #1341
Interesting. I wonder what the difference is between your example and https://github.com/bazelbuild/rules_rust/tree/0.4.0/examples/crate_universe/vendor_local_manifests

[2022-05-16 19:15] prestontw commented on #1341
The two big differences seem to be different workspace layout and using `local_repository` instead of `http_archive`. I can try adding another child folder and mirroring more of the `vendor_local_manifests` directory structure, but I would be surprised if that changed behavior.

[2022-05-16 19:26] UebelAndre commented on #1341
@prestontw can you try using the latest release of `rules_rust`?
https://github.com/bazelbuild/rules_rust/releases/tag/0.4.0

[2022-05-16 19:36] prestontw commented on #1341
Yes, I will. (Sorry for using an old version, I was copying from https://bazelbuild.github.io/rules_rust/)

Separately, https://github.com/prestontw/bazel-rust-vendored-experiment/tree/compare-to-example works for both vendoring and building targets, so the child directory structure does seem to help!

[2022-05-16 19:40] prestontw commented on #1341
Using that still results in the same error: https://github.com/prestontw/bazel-rust-vendored-experiment/commit/8a7febc8260a7d4b12e23933a1bf369fb56ab599

[2022-05-16 19:41] prestontw commented on #1341
You can indeed count me surprised! 👀

[2022-05-16 19:42] UebelAndre commented on #1341
So a clearer description of the issue is `crates_vendor` does not work from the root package?

[2022-05-16 19:44] prestontw commented on #1341
I think so... That does seem like the biggest difference: the repo example has an empty root `BUILD` while my worked example tries to vendor from the root `BUILD`.

[2022-05-16 21:17] roman-kashitsyn commented on #1337
It seems that the problem comes from `Context::new`.
I've added a bit of logging to see what's going on in cargo-bazel `generate` function:
https://github.com/bazelbuild/rules_rust/blob/3aa6de3c63e4b0600521ecc0ac191505b1e4e747/crate_universe/src/cli/generate.rs#L108-L124
 below are the values of `cargo_metadata`, `annotations`, and `context`:
[code]

[2022-05-18 08:53] rharink opened #1342 "Snippets are missing in wasm_bindgen output"
Hi, I'm generating wasm bindings via `rust_wasm_bindgen` for  a web target.

Everything compiles as expected, the `.js` and `.d.ts` files are generated, but the `snippets` directory is missing from the output. The snippets are required by the generatged `.js`file.

When I manually execute the wasm-bindgen-cli command (extracted via bazel build --subcommands) and I change the --out-dir I see the sn

[2022-05-19 15:29] alealv commented on #1292
HI @UebelAndre

How do you select the `protoc` for the `execution platform`?

I also asked this question [here](https://stackoverflow.com/questions/72303446/how-do-i-select-over-execution-target).

[2022-05-19 16:50] uhthomas commented on #1285
I took a quick look today and it seems like this might be a little trickier than first thought.

The `Cargo.Bazel.Lock` file is generated from a `Cargo.lock` file, which does not include this information.

Git packages would need to be fetched by the generator itself to get the correct `shallow_since` value.

[2022-05-19 17:23] alealv commented on #884
Hi

I'm still having this problem when I build for `iOS` on an `x86_64` machine.

`bazel build //apps/bertie/ios:libbertieios --config ios_arm64 --compilation_mode=fastbuild`

This is my `.bazelrc` file

[code]

My platforms file

[code]

And this is the rule failing

[code]

[2022-05-19 18:02] UebelAndre commented on #884
@alealv Thanks for the info! But can you also share an error you get when failing to build that target? And can you elaborate on why you suspect this to be related to that failure? 🙏

[2022-05-19 21:26] alealv commented on #884
So, I have two different types of errors depending on the `rules_rust` version:

### Error with rust_rules v0.4.0 I get this:

[code]

I believe my WORKSPACE file is correct
[code]

### Error with rust_rules commit 69a738a7

I get some error with protobuf I guess selecting wrong toolchain for CPU

[code]

[2022-05-20 05:45] bsilver8192 commented on #1238
If it helps, I added a full working example in #1350. It takes a bit to set up, but I think it will work somewhat robustly this way. Rust toolchain changes may break it, but I don't think any recent ones would. A setup based on that PR works with all my toolchains, which include cross compiling with both GCC and Clang, and linking with llvm-ld and GNU ld.

[2022-05-20 10:18] illicitonion commented on #1285
I believe that cargo already fetches those repositories to `.cargo/git/checkouts` in order to fetch that metadata, so it should already be on disk, and just be a matter of locating it...

https://github.com/rust-lang/cargo/blob/master/src/cargo/sources/git/source.rs is the code in cargo which creates and manages git clones, which should show you how to reverse-engineer the paths.

When `isolated=T

[2022-05-20 11:17] alealv commented on #884
It was resolved by using `tools` argument instead of `data`. Here is the full  BUILD file

[code]

[2022-05-20 13:23] SlyMarbo commented on #689
There's another, similar issue with `rust_doc`, which is that the crate features enabled in the underlying crate don't get passed through to `rustdoc`. The quickest repro I have is to clone `smoltcp` v0.8.1 and add a `rust_doc` target. It will fail to compile, complaining that no required features are enabled, even if these are enabled in the `rust_library`.

I'm happy to open a separate issue, bu

[2022-05-20 19:58] bsilver8192 commented on #1238
I suspect your approach will fail when building a cc_test with more complex codebases keith. It's definitely simpler, and if the caveats are acceptable then it looks nice, but I'd like to lay out some things for you or others who try using it. Also reasons why this is not a good approach for rules_rust to adopt. If you use llvm-ld or another linker which ignores the traditional Unix linker search

[2022-05-24 06:56] hlopko opened #1357 "rust_register_toolchains link without target in docs"
If I try to see docs for `rust_register_toolchains` in https://bazelbuild.github.io/rules_rust/flatten.html the link doesn't work. It seems the docs are not generated for repository rules?

[2022-05-24 12:37] #1357 closed

[2022-05-24 12:49] #1258 closed

[2022-05-25 13:38] UebelAndre opened #1361 "`crates_vendor` should work with external deps"
Given the following target, generating BUILD files will fail as `crate_universe` will assume the path to `@binary_crate//:Cargo.toml` is `${BUILD_WORKSPACE_DIRECTORY}/../binary_crate/Cargo.toml`:

[code]

The assumption is obviously incorrect and the tool should correctly identify external repositories to be paths to the [output_base](https://docs.bazel.build/versions/main/output_directories.html#

[2022-05-25 14:02] UebelAndre commented on #1231
Having finally had time to look into this, I think the best approach is to make `Cargo.lock` and the unique lockfile (`Cargo.Bazel.lock`) not mutually exclusive. I think if `crates_repository` were to update [`lockfile` and `lockfile_kind`](https://github.com/bazelbuild/rules_rust/blob/0.5.0/crate_universe/private/crates_repository.bzl#L214-L247) to `lockfile` and `cargo_lockfile`, it could give w

[2022-05-25 15:26] silas-enf commented on #1231
May have to pick your brain a bit more to fully grok the approach (e.g. what do we want the end UI to look like? Just a different env var like `REPIN_ADD=1 bazel build //foo`?), but as for bandwidth I'll dive in this weekend and see what I can accomplish in that time.

[2022-05-25 16:43] illicitonion commented on #1231
It feels like the real user intent here is whether you're eagerly updating versions, or conservatively resyncing the Cargo.toml/specs with the lockfile... `CARGO_BAZEL_UPDATE=conservative/eager` or similar, with one of them being the default?

[2022-05-25 17:18] UebelAndre commented on #1231
This is a good call. I'd gotten a head of my self with ideas for future features. I think this would more directly address this issue.

[2022-05-28 23:34] UebelAndre opened #1367 "Delete old tags"
Can we delete the following tags?
- `minimum-bazel-17`
- `minimum-bazel-22`

Are they still necessary now that we do releases and have a tracked min-supported version?

[2022-05-28 23:34] UebelAndre commented on #1367
cc @hlopko

[2022-05-30 06:52] hlopko commented on #1367
I think we can delete them.

[2022-05-30 22:07] roman-kashitsyn opened #1369 "crate_universe: explicitly added packages do not override transitive dependencies"
If I have a single package in the workspace,
[code]
cargo-bazel picks the correct repository for the `webpki` package in `Cargo.Bazel.lock`:
[code]
However, if I add another package to the workspace that needs `webpki` transitively:
[code]
Then cargo-bazel picks the version from [crates.io](http://crates.io/):
[code]

Expected behavior: `cargo-bazel` uses the explicitly specified version of `webpk

[2022-06-02 06:57] snowp opened #1372 "Avoid running clippy on rust analyzer"
When using the suggested approach of enabling clippy on `build` this also ends up being checked when running the rust-analyzer tool. This ends up being pretty tedious during development since it means that the code now has to both compile and pass clippy checks, but I really just want to update the rust project file.

Is there an existing mechanism to disable clippy when using the rust analyzer to

[2022-06-02 15:10] cfrantz opened #1373 "Feature Request: support air-gapped builds"
The [OpenTitan Project](https://opentitan.org) needs to use bazel in air-gapped/offline configurations.  It appears that currently, rules_rust does not support an air-gapped configuration.

We are currently using a modified version of rules_rust to support this configuration.  My teammate (@timothytrippel) worked out a [small change](https://github.com/lowRISC/rules_rust/commit/be0d6ca492f64cc8d46

[2022-06-02 18:57] snowp opened #1374 "Possible regression causing linking of proc_macro"
We updated rules_rust from 0.4.0 to 28ac6b133dfce65f9e9e01a5de2b4e034410e080 and ran into an issue where proc_macro is now statically linked into a test binary, causing

[code]

21eed19188c0359d72f9a508a0c0e7040ff20070...28ac6b133dfce65f9e9e01a5de2b4e034410e080

I made sure that this was not coming from the Rust version upgrade (tried bad sha + 1.60).

I don't have a simple reproducer, though I su

[2022-06-03 10:51] hlopko commented on #1373
@UebelAndre, what do you think about using download_and_extract?

[2022-06-03 10:57] hlopko commented on #1372
Which suggested approach to use clippy do you use? This one?

[code]

I presume you added this to your .bazelrc as something like:

[code]

If I wanted to disable clippy for rust analyzer runs in this scenario, I'd add this to the .bazelrc:

[code]

(https://docs.bazel.build/versions/main/command-line-reference.html#flag--output_groups). Then you should be able to run:

[code]

Am I making any sen

[2022-06-03 11:32] snowp commented on #1372
Yep this makes sense! The main thing I wasn't aware of here is that the parameter passed to run would propagate to the underlying bazel build command that gen_rust_project invokes.

Your suggestion does indeed remove the clippy check, though it seems like enabling the aspect by default still causes the Rust targets to be compiled, so it still fails to generate the rust-analyzer project file if the

[2022-06-03 11:41] hlopko commented on #1367
Done :)

[2022-06-03 11:41] #1367 closed

[2022-06-03 11:42] hlopko commented on #1063
I believe we can close this issue now. Please let me know if there's something I missed.

[2022-06-03 11:42] #1063 closed

[2022-06-03 16:04] snowp commented on #1372
Scratch what I said about it working, seems like the problem is still there. It seems like the `--config noclippy` is not propagated to gen_rust_project's call to build rust_analyzer_aspect.

If I add `build --config noclippy` to my bazelrc it does disable the rustc + clippy invocation, so it seems like the issue is just about being able to propagate the option between the `bazel run` invocation a

[2022-06-04 16:55] UebelAndre commented on #1373
I've had the same thought and was trying to implement https://github.com/bazelbuild/rules_rust/pull/1163 as a means of accounting for this (in addition to other things) but if there's a way to achieve this with a small update I'm for it. However, I'm not sure I'm the biggest fan of the `execute` call:
[code]
If we're really going to need to download, extract, compress, then extract the content aga

[2022-06-05 05:13] UebelAndre opened #1379 "`//test/linker_inputs_propagation/...` fails builds on MacOS"
I see the tests are disabled in CI but user can no longer `bazel test //...` the repo anymore and I think that should be maintained functionality. When I `bazel test //test/linker_inputs_propagation/...` on my mac I get the following error:

[code]

This should be fixed so this does not fail builds.

[2022-06-05 05:16] UebelAndre commented on #1379
Seems this was introduced in https://github.com/bazelbuild/rules_rust/pull/1299? @scentini would you have time this week to take a look?

[2022-06-06 16:28] cfrantz commented on #1373
I agree that `download_and_extract` followed by "tar it back up again" is suboptimal.  Multiple calls to `download_and_extract` sounds good to me.

[2022-06-07 10:55] scentini commented on #1379
Sure!

[2022-06-07 11:01] scentini commented on #1374
I managed to create a [simple repro](https://github.com/scentini/repro_1374). This is not related to `proc_macros`; the culprit is https://github.com/bazelbuild/rules_rust/pull/1333 and @krasimirgg and I are discussing the best way forward.

[2022-06-07 15:28] UebelAndre commented on #485
Thank you for implementing this, @scentini! 🙏

[2022-06-07 16:53] UebelAndre opened #1390 "Prevent dependabot from opening issues about test or example data"
Over the weekend it seems someone enabled dependabot and it now suggest changes that are likely to generate a ton of noise and do not have a meaningful impact to users. We should make sure we don't get walls of similar issues in the future.

New issues:
- https://github.com/bazelbuild/rules_rust/pull/1389
- https://github.com/bazelbuild/rules_rust/pull/1388
- https://github.com/bazelbuild/rules_ru

[2022-06-07 17:37] Dogild commented on #179
Is there a known workaround for this issue?

[2022-06-07 21:12] #1379 closed

[2022-06-08 05:19] duarten opened #1393 "crate_universe: provider wrappers that pre-populate rust_library/binary"
Having `crate_universe` provide crate-specific wrappers for `rust_library`/`rust_binary` allows it to already populate the `deps`, `aliases`, and could even add `Cargo.toml` to `compile_data`. This way users wouldn't need to call `all_crate_deps` or `aliases` themselves in the general case.

[2022-06-08 14:15] UebelAndre commented on #1393
This sounds like a good idea. I forget who else mentioned it to me but what I understand the request to be is something that allows you to replace:
[code]
with:
[code]

Is this roughly the same thing you're describing?

[2022-06-08 14:30] duarten commented on #1393
Yes, precisely!

[2022-06-09 08:36] scentini commented on #1374
@snowp could you check whether https://github.com/bazelbuild/rules_rust/pull/1394 solves the problem for you?

[2022-06-10 08:32] scentini commented on #1374
Thanks! That's the same error, just on macos this time, which is a reminder that we should apply the solution to all platforms.

[2022-06-10 18:57] snowp opened #1401 "Support setting test filter via --test_filter"
For a more ergonomic Bazel experience, it would be nice if the test runner would propagate the values of --test_filter to the underlying test runner. Per https://bazel.build/reference/test-encyclopedia seems like this just means reading `TESTBRIDGE_TEST_ONLY` and passing the values along

[2022-06-10 21:27] UebelAndre commented on #1401
Does the info at https://github.com/bazelbuild/rules_rust/issues/417 help with what you're looking to do? If there's an easier way to tell tests that use [use_libtest_harness](https://bazelbuild.github.io/rules_rust/defs.html#rust_test-use_libtest_harness) to only run a subset of tests I'd be happy to learn about how to do that and provide review support for a pull-request 😃

[2022-06-12 14:47] uhthomas commented on #1287
I've made a prototype implementation and it looks pretty good so far. It has shown some weirdness with the format of the lockfile, but has been easy to work with otherwise.

The blocker at the moment is figuring out how to handle selects and [cfg](https://doc.rust-lang.org/rust-by-example/attribute/cfg.html) expressions ([conditional compilation](https://doc.rust-lang.org/reference/conditional-com

[2022-06-12 14:52] UebelAndre commented on #1287
Can you provide an example of the specific change you're thinking of?

[2022-06-12 15:09] uhthomas commented on #1287
Yep, of course.

So here's an excerpt from the JSON lockfile (represented as [CUE](https://cuelang.org/) for brevity):

[code]

Currently the "selects" deps are a map of cfg expressions to deps. I would propose that instead it should be a list of objects which include a list of platform names and deps. Such:

[code]

[2022-06-12 15:47] UebelAndre commented on #1287
That'd probably be fine but seems like it'd be noisy. The reason I wrote the cfg string is because it was shorter and slightly more meaningful. The lockfile includes a mapping of those strings to a list of platforms so they only need to be defined once. Would it still work to use that?
[code]

[2022-06-12 16:29] uhthomas commented on #1287
I completely overlooked the `conditions` in the lockfile, thanks! I think that will work fine.

Is there a reference which explains the format of the lockfile? Something which isn't source code? Might be helpful for future readers.

---

re: it'd be noisy

I agree, though the lockfile is already very large.

[code]

[2022-06-12 22:55] uhthomas commented on #1287
So, I got it all working! :)

Just need to clean some stuff up. Hopefully will open a PR for this within the next few days.

[2022-06-13 01:53] UebelAndre opened #1408 "Allowing Label to own it's content"
Looking at https://github.com/bazelbuild/rules_rust/tree/0.5.0/util/label I'm wondering why it effectively only wraps a some owned data elsewhere. Would it make sense to allow `Label` to be a struct which owns a string and can comfortably parse out `repository_name`, `package_name`, and `target`?

[2022-06-13 01:53] UebelAndre commented on #1408
cc @hlopko

[2022-06-13 01:59] UebelAndre commented on #1341
I finally had time to look into this and found it to be an issue with https://github.com/bazelbuild/rules_rust/blob/0.5.0/crate_universe/src/rendering.rs#L109-L115 creating paths that are prefixed with `/` (and thus are absolute). My quest to solve this lead me to try to use the builtin [Label library](https://github.com/bazelbuild/rules_rust/blob/0.5.0/util/label/label.rs) but I struggle to integ

[2022-06-13 09:57] illicitonion commented on #1408
Yeah, I think using a `Cow` should work fine here?

(I suspect Label _actually_ owning its backing data also wouldn't be the end of the world - @hlopko can hopefully speak to that :))

[2022-06-13 13:23] UebelAndre commented on #1390
cc @hlopko @scentini

Figured this is something only Googlers would have insight into.

[2022-06-13 14:35] scentini commented on #1390
It looks like I don't have sufficient permissions to make such changes to this repository, reassigning to @hlopko.

[2022-06-13 16:37] hlopko commented on #1390
I've just disabled the dependabot completely, but I'm tempted to enable it back again once https://github.com/dependabot/dependabot-core/issues/4364 is resolved (so we can ignore `/examples` since those warnings are not highly important if you ask me, but introduce a lot of noise)

[2022-06-13 16:37] #1390 closed

[2022-06-14 08:54] rdelfin commented on #118
@bsilver8192 did you get a chance to push those changes? Looks like this is still very much broken :(

[2022-06-15 23:05] titanous commented on #915
I've implemented support for `protoc-gen-tonic` and `protoc-gen-prost` in https://github.com/rules-proto-grpc/rules_proto_grpc/pull/202.

[2022-06-16 06:48] bsilver8192 commented on #118
It's actually merged now. If you comment out https://github.com/frc971/971-Robot-Code/blob/8e815fbb728ddc4df9714f72beb925cb8c93159d/third_party/cargo_raze/cargo_raze.patch#L194 and then `bazel build -c opt @cargo_raze//:raze` it will fail.

So far I don't have any other rust_binary targets outside of third_party which are complex enough to run into this.

[2022-06-17 16:42] uhthomas commented on #1287
@UebelAndre Would you mind cloning my branch and trying it out? It's not feature complete, though rules_rust builds with it and we're also now using it internally. It seems to work well and `bazel run @crate_universe_crate_index//:repin` is blissful in comparison to the `bazel sync` stuff.

The vendoring of BUILD files had to be removed, apologies if this is a problem. The way the manifest is inte

[2022-06-20 19:38] pikajude opened #1417 "`crate_universe` does not consolidate configurations that match the same set of platforms."
Here's the Cargo.toml for rustix-0.33.7: https://docs.rs/crate/rustix/0.33.7/source/Cargo.toml

The resulting generated file: https://gist.github.com/pikajude/4c6eec44aba219e58f5803a7efecf10b

The condition `# cfg(all(windows, not(target_vendor = "uwp")))` duplicates the condition `# cfg(windows)`. See lines 53 and 97. This results in the error:

[code]

This is *not* a duplicate of #1236 as we ar

[2022-06-20 19:55] UebelAndre commented on #1417
What rev of `rules_rust` are you using?

This seems to be caused by `uwp` not being represented in a unique windows platform but is still a unique configuration. The fix is to either define that as a platform and pass it to `supported_platform_triples` or to update `crate_universe` to flatten configurations that cannot be uniquely represented. I thought we did the latter already... I'll need to do

[2022-06-21 01:04] pikajude commented on #1417
0.6.0. How recently did you make the change you mentioned?

[2022-06-24 19:24] Reflejo commented on #1374
@scentini Were you able to make any progress with this issue? Thanks!

[2022-06-26 17:49] UebelAndre commented on #1417
Sorry for the delay here. This issue comes from the unique configurations not being consolidated when there aren't unique platforms (represented by Bazel) to match them ([code here](https://github.com/bazelbuild/rules_rust/blob/0.6.0/crate_universe/src/context/platforms.rs#L66-L102)). This creates conflicting select cases and you get the error you see. I think the fix is probably just to write a w

[2022-06-26 17:53] UebelAndre commented on #1361
This was implemented by https://github.com/bazelbuild/rules_rust/pull/1381 and released in `0.6.0`.

[2022-06-26 17:53] #1361 closed

[2022-06-26 17:54] UebelAndre commented on #1328
I'm gonna close this out until there's another repro. This would definitely be a major bug so if anyone has a repro I'd be happy to take a look.

[2022-06-26 17:54] #1328 closed

[2022-06-26 17:56] UebelAndre commented on #1176
What do folks think of allowing negative patterns in [crate.annotations.crate_features](https://bazelbuild.github.io/rules_rust/crate_universe.html#crate.annotation-crate_features)? This way features auto-included could be removed via `["-feature"]`.

cc @illicitonion

[2022-06-26 17:58] UebelAndre commented on #691
I think there's sufficient documentation in the redesign (`cargo-bazel`).

[2022-06-26 17:58] #691 closed

[2022-06-26 18:00] UebelAndre commented on #783
With https://github.com/bazelbuild/rules_rust/issues/700 closed, is this issue also resolved? @illicitonion @sayrer?

[2022-06-26 18:05] UebelAndre commented on #1369
Is there not another instance of `webpki` within the lockfile? This feels like behavior I've hit in standard cargo setups (and `crate_universe` basically just maps cargo dependency trees to Bazel).

[2022-06-26 19:02] UebelAndre commented on #1231
It seems like [cargo update](https://doc.rust-lang.org/cargo/commands/cargo-update.html) has some support for updating specific things. Perhaps this could drive the UX behind `CARGO_BAZEL_UPDATE` where maybe you'd get the following pairs

| cargo | bazel |
| --- | --- |
| cargo update | `CARGO_BAZEL_REPIN=1` (or any generally truthy value. This is default behavior) |
| cargo update --workspace | `

[2022-06-26 19:11] sayrer commented on #783
I think this is ok to close, I filed this when crate_universe was very new. Up to you, I'd say.

[2022-06-27 02:28] dayfine opened #1421 "rust_test doesn't know about the aliases in the library target"
With a `rust_library` target that uses aliases, compiling its test target without aliases will fail:
[code]
Took a bit time for me to figure out as I was doing `ibazel build //my_project/...` and thought the library target was failing.

Adding the same aliases to the test target work but feel unnecessary. I think the test target should be able to inherit / merge the aliases in the library target.

[2022-06-27 12:28] illicitonion commented on #783
Yeah, pretty sure this got done fine :)

[2022-06-27 12:28] #783 closed

[2022-06-27 12:29] illicitonion commented on #1231
Sounds great to me!

[2022-06-27 12:31] illicitonion commented on #1176
https://doc.rust-lang.org/cargo/reference/features.html#the-features-section documents that features may not start with `-`, so that sounds good!

[2022-06-27 14:47] UebelAndre opened #1423 "Update `crates_vendor` to write any crate `spec` and `annotation` used"
This would allow external consumers of workspaces that use `crates_vendor` to be programmatically consume the same dependencies.

Concretely, the snippet:

[code]

To generate some content in the generated `crates.bzl` file:

[code]

[2022-06-28 20:23] sayrer commented on #1417
I just patched this in cargo-raze in Rust, although I'm not sure my implementation is as brief as it could be (although, in raze, it's generic over features too)

https://github.com/google/cargo-raze/pull/512

[2022-07-01 00:35] dayfine commented on #1421
That being said, I realized it would be easier to just set `crate_name` on my `rust_library`s

[2022-07-01 18:05] espeer-enfabrica opened #1428 "NullPointerException using rustfmt_aspect with custom verilog_lint_test rule"
Originally logged here: https://github.com/bazelbuild/bazel/issues/15753

We see the following splat:

FATAL: bazel crashed due to an internal error. Printing stack trace:
java.lang.RuntimeException: Unrecoverable error while evaluating node '[]#@rules_rust//rust/private:rustfmt.bzl%rustfmt_aspect BuildConfigurationValue.Key[614a8816f292c11cb4ef63601cc72f3c9ff3ca3f749cc82148f834a38f437e65] Configu

[2022-07-02 12:21] UebelAndre commented on #881
On `5.2.0` this target still fails with the following error
[code]

[2022-07-02 12:27] UebelAndre commented on #1428
Hey, can you provide a small workspace that reproduces the issue?

[2022-07-03 17:19] roman-kashitsyn commented on #1369
I think that's true, it's not crate_universe's issue.
We worked around the problem by using `cargo_config` parameter of the `crates_repository` rule (https://sourcegraph.com/github.com/dfinity/ic@c01d7d1b2e18490a2f70d2fdf5b6aceccab5860c/-/blob/bazel/external_crates.bzl?L14).

[2022-07-03 17:19] #1369 closed

[2022-07-03 18:11] UebelAndre commented on #1369
I’ve had some success also using [`[patch]`](https://doc.rust-lang.org/cargo/reference/overriding-dependencies.html#the-patch-section) to coerce all versions of a package into whatever’s specified. If you have access to an alternate crates registry you can use that in combination with your Cargo config file. Git repositories should also work just fine.

[2022-07-04 16:17] UebelAndre commented on #1157
@korDen Is this still happening on [v0.6.0](https://github.com/bazelbuild/rules_rust/releases/tag/0.6.0) or above?

[2022-07-04 16:17] #1265 closed

[2022-07-04 16:24] UebelAndre commented on #662
I don't think this is relevant since the [crate_universe rewrite](https://github.com/bazelbuild/rules_rust/commit/59fab4e79f62bfa13551ac851a40696c24c0c3a4). Closing this out for now but feel free to reopen if there's an aspect of it that I missed.

[2022-07-04 16:25] UebelAndre commented on #904
Closing this out since it seems https://github.com/bazelbuild/rules_rust/issues/1027 was the root cause.

[2022-07-04 16:25] #904 closed

[2022-07-04 22:31] UebelAndre opened #1431 "Compile `rust_doc_test` binaries in an action"
re: https://github.com/bazelbuild/rules_rust/pull/1427#issuecomment-1174049071

I think it might be time to rethink the `rust_doc_test` rules. Right now the test compiles and performs tests as part of the test itself. Instead of doing this, the test binaries that perform doc tests should be compiled in an action and the binaries be the executable for running tests.

[2022-07-04 22:33] UebelAndre commented on #1431
https://github.com/rust-lang/rust/issues/87022 is something that might enable this behavior.

[2022-07-04 22:34] UebelAndre commented on #1431
cc @scentini for awareness.

[2022-07-08 09:26] hlopko commented on #1428
Drive by - this should be filed in https://github.com/bazelbuild/bazel. It's a Bazel crash. It shouldn't crash :)

[2022-07-08 10:07] UebelAndre commented on #1428
https://github.com/bazelbuild/bazel/issues/15753 Seems to be the original post

[2022-07-09 00:05] DeCarabas commented on #276
FWIW I started down this path, learning about transitions and whatnot, and then realized, oh, I don't think I need that. I ended up writing the following two entries in my WORKSPACE:

[code]

...and everything just started working. (I put both in because we have folks on M1 macs and folks on Intel macs.)

I suspect that this was simple for us because we had already done the work to configure a cla

[2022-07-10 22:11] UebelAndre commented on #237
With the additions of https://github.com/bazelbuild/rules_rust/pull/1416 and https://github.com/bazelbuild/rules_rust/pull/1377 as well as the fact that `cargo_build_script` always sets `RUSTC` as an environment variable. I think there are plenty of ways for Cargo `build.rs` scripts to invoke `rustc`. I'll close this out for now but for any subscribers here, please ping the ticket and I can open i

[2022-07-10 22:11] #237 closed

[2022-07-10 22:14] UebelAndre commented on #220
I believe this was implemented in https://github.com/bazelbuild/rules_rust/pull/645. @illicitonion would you concur?

[2022-07-10 22:24] UebelAndre commented on #253
The examples here have since become unreachable so I'll close this out. Since this has opened there have been many improvements to the ability for `rules_rust` to handle shared libraries as well as the introduction of [crate_universe](https://bazelbuild.github.io/rules_rust/crate_universe.html) for generating external dependencies for multiple platforms. Hopefully those are sufficient to avoid the

[2022-07-10 22:24] #253 closed

[2022-07-10 22:34] UebelAndre opened #1445 "Update `rust_toolchain.target_json` from a label to a json string"
There have been a couple of cases where the functionality added in https://github.com/bazelbuild/rules_rust/pull/836 to teach `rust_toolchain` to handle json files which represent fine grain information about platform triples has caused confusion or a gap in information in "starlark-land" when writing rules. A common issue is that while you can use `target_json`, you still need to provide `os` and

[2022-07-10 22:35] UebelAndre commented on #1445
cc @hlopko

[2022-07-11 01:43] UebelAndre commented on #403
Closing this out since the issue appears to be resolved.

[2022-07-11 01:43] #403 closed

[2022-07-11 01:47] UebelAndre commented on #690
Does https://github.com/bazelbuild/rules_rust/pull/1324 address the concerns here?

[2022-07-11 01:48] UebelAndre commented on #1077
Is this not a duplicate of https://github.com/bazelbuild/rules_rust/issues/690 (which might have been addressed by https://github.com/bazelbuild/rules_rust/pull/1324)?

[2022-07-11 07:06] hlopko commented on #1445
cc @krasimirgg

[2022-07-11 09:23] #1373 closed

[2022-07-11 15:25] UebelAndre opened #1446 "Updated comments in crate_universe generated files to describe how to regenrate them."
Right now the header files generated in the outputs of `crate_universe` rules only mention that the files are auto-generated:
https://github.com/bazelbuild/rules_rust/blob/0.7.0/crate_universe/src/rendering/templates/partials/header.j2#L1-L6

They should additionally describe what target produced them and guide users into how they can regenerate them.

[2022-07-11 15:28] alexeagle opened #1447 "crate_universe should not modify the manifests provided if they represent a valid cargo workspace"
This rust project
https://github.com/swc-project/swc
has a Cargo.lock file in the root, then a tree of Cargo.toml files for all the crates it builds.

https://gist.github.com/alexeagle/b0a290dd09860cf2db04c6f13025d0aa shows how I've tried to fetch 3p dependencies for this project (I'm trying to build it as an external repository)

I get an error about the lockfile being out-of-date:
[code]
but thi

[2022-07-11 22:38] snowp opened #1449 "Issue running coverage, missing util/collect_coverage.sh"
When trying to run the newly added coverage support via `bazel coverage` the build fails with

[code]

This is using the 0.7.0 release.

Seems to me like the util/collect_coverage.sh script is not included in the release

cc @keith

[2022-07-12 02:03] UebelAndre commented on #1449
This is a miss due to the lack of https://github.com/bazelbuild/rules_rust/issues/1294. https://github.com/bazelbuild/rules_rust/pull/1450 should fix this and then we can get a new release out.

[2022-07-12 16:38] uhthomas opened #1456 "cargo-bazel will not build with newer versions of GCC"
There are many lines of

[code]

This looks to be because `@libgit2` is not correctly linking headers. A patch file resolves this:

[code]

I'll open a PR.

[2022-07-13 12:13] #1449 closed

[2022-07-13 13:45] scentini commented on #1120
https://github.com/bazelbuild/rules_rust/pull/1434 shortened a target name for the same reason too.

So far, whenever I've ran into this issue, the culprit turned out to be `MSVC`, especially the linker, and I don't believe we can do anything reasonable about that (maybe in process_wrapper we could copy all the files to a temporary location and copy the output file to the desired location afterwar

[2022-07-13 13:45] Wyverald opened #1459 "Crate Universe Examples failing on Bazel CI"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2547#0181f78e-db8f-42ac-9f3d-610ff8e146ba

There's not much information to go by other than "exit status: 1". Could you please look into this? (and potentially fix the test to produce more meaningful error messages)

[2022-07-13 14:00] UebelAndre commented on #1459
I'm surprised to see such a useless error. How would I go about reproducing this? It doesn't seem to happen in any of our current CI jobs. Looking at the code I'm wondering if I'm somehow messed up the bash here? https://github.com/bazelbuild/rules_rust/blob/main/crate_universe/private/crates_vendor.bzl#L9-L16 other than that I need some repro and way to iterate to get more information.

[2022-07-13 14:02] Wyverald commented on #1459
I should mention that this is with Bazel@HEAD. Could you try to reproduce with `USE_BAZEL_VERSION=last_green bazelisk ...`?

[2022-07-13 14:14] meteorcloudy commented on #1120
@scentini You're right, we cannot do anything about it other than try to use a shorter path. The MSVC compiler/link doesn't work with the `\\?\` solution.

This issue is reported back to Microsoft a long time ago: https://developercommunity.visualstudio.com/t/allow-building-running-and-debugging-a-net-applica/351628

[2022-07-13 14:53] keith opened #1462 "Should libprofiler_builtins always be linked?"
Currently when producing a static library that depends on a rust_library we always get `libprofiler_builtins*.rlib` in the output binary. My understanding of this library is that it's likely only necessary in certain configurations like coverage, and otherwise it could be omitted. In the case of linking a rust_binary this likely isn't a problem given that dead stripping / lazy loading archives is

[2022-07-13 15:39] scentini commented on #1459
Actually it looks like Windows is doing fine.

[2022-07-14 10:26] alisomay opened #1463 "Update wasm_bindgen to `0.2.81`"
I would try to do it myself but it feels too complicated since I'm not deep in rules_rust ecosystem.
Maybe the same steps like this PR could be followed.
https://github.com/bazelbuild/rules_rust/pull/902/commits/1e42a2a66b24b11d8de39dfd060ba6fcd8ae472f

With the current version unfortunately it is broken.
[code]
If that is not quickly possible, could you help me to inject a later version of the cl

[2022-07-14 12:09] meteorcloudy commented on #1459
It seems the cause is https://github.com/bazelbuild/rules_rust/blob/53ad14eead1a194bd740ff8605a12c4fccdb3ed8/crate_universe/private/crates_vendor.bzl#L9-L14 introduced at https://github.com/bazelbuild/rules_rust/commit/53ad14eead1a194bd740ff8605a12c4fccdb3ed8 not working with our CI setup.

On Bazel CI, The `bazel` in PATH is actually the bazelisk binary.

In the main pipeline built with Bazel 5.2

[2022-07-14 13:13] meteorcloudy commented on #1459
OK I changed our CI setup to always use Bazelisk, it's working now: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2547#0181fcc1-308d-4764-a315-51af070bd98a

[2022-07-14 13:13] #1459 closed

[2022-07-14 15:35] UebelAndre commented on #919
`rust_bindgen` fails with the following error in remote build environments (remote execution):
[code]

[2022-07-14 19:38] fmorency opened #1466 "Coverage includes reference to non-project file when using `thread_local!`"
Minimal sample repository in https://github.com/fmorency/bazelcov

# Problem

Code coverage on a project using `thread_local!` will contain a reference to
[code]

which results in an error when trying to generate the coverage report using `genhtml`

[code]

# Proposed solution

Add an additional `-ignore-filename-regex` to the `llvm-cov` call in `collect_coverage.sh`, e.g.,
[code]

[2022-07-14 21:19] UebelAndre commented on #1466
Cc @krasimirgg @hlopko @keith who might have better intuition here

[2022-07-14 23:28] keith commented on #1466
Nice repro case, turns out this is also an issue without bazel with rust. I repro'd by copying your file into a fresh cargo project:

[code]

I suppose if we could determine the sha, which appears to be the sha of rust the build was from, we could do another path-equivalence argument to normalize it, but I'm not sure to what, since the file not existing would still be a problem. The thing that sur

[2022-07-14 23:55] keith commented on #1466
https://github.com/bazelbuild/rules_rust/pull/1467

[2022-07-15 00:15] UebelAndre commented on #1466
Isn’t this also an issue in upstream Bazel? Wasn’t the shell script just copied from there?

[2022-07-15 00:24] keith commented on #1466
No it's different, upstream doesn't do path remapping at all https://github.com/bazelbuild/bazel/blob/b0c91c19ee707b62aab54131ffdd32fae9558f33/tools/test/collect_cc_coverage.sh#L78-L99 I assume because that isn't general enough

[2022-07-15 13:06] UebelAndre opened #1469 "Add integration tests for crate_universe"
Something like https://github.com/bazelbuild/bazel-integration-testing should be used to add tests to `//crate_universe/integration_tests` to have more and better documented coverage than what's provided in `//examples/crate_universe`.

[2022-07-15 13:09] fmorency commented on #1466
Thanks for the fast turnaround!

@keith do you still think it's worth reporting to rust?

[2022-07-15 17:33] fmorency commented on #1233
I'm also noticing the issue on the project I'm porting to Bazel

[code]

I'm using `rules_rust` git e83d5f3c77d2b41a0ad2fb9c5a0fb1dfb5e912a7 on Linux.

[2022-07-15 18:52] keith commented on #1466
I think so, I think it's a surprise that coverage data has this file in it, but I am probably missing some context!

[2022-07-18 14:27] illicitonion commented on #220
Looks done to me!

[2022-07-18 14:27] #220 closed

[2022-07-24 13:40] mingyc opened #1480 "`rust_analyzer` is not downloaded/installed for the workspace"
I have a `WORKSPACE` file with the following settings:

[code]

After I ran the command `bazel run @rules_rust//tools/rust_analyzer:gen_rust_projec`, it produces a `rust-project.json` with the following `sysroot_src`:

[code]

However, `rust-analyzer` complains that it fails to load workspace with

[code]

and when I looked into `execroot/__main__/external` it doesn't contain rust-analyzer but onl

[2022-07-24 14:43] UebelAndre commented on #1480
The rules have never downloaded a [rust-analyzer](https://github.com/rust-lang/rust-analyzer) release before. Do you have cargo installed on your host? I'm wondering if I'm not seeing this issue because rust-analyzer is still able to find parts of the stdlib.

[2022-07-24 18:37] omerbenamram commented on #1480
I think this is indeed a bug.

@mingyc first you need to pass `include_rustc_srcs` for rust analyzer to work (as per [the docs(https://bazelbuild.github.io/rules_rust/flatten.html#rust_register_toolchains))

[code]

@UebelAndre  However, I did get the exact same error, but when I ran `find` in `/private/tmp/...`, the srcs are indeed downloaded to
`/private/var/tmp/_bazel_oamram/8ed4bbf259101ed40e8

[2022-07-24 22:20] UebelAndre commented on #1480
@omerbenamram @mingyc can you provide an example workspace that produces this issue? And share the version of bazel with what operating system you use?

[2022-07-25 02:38] mingyc commented on #1480
@omerbenamram I've tried this but the same bug still happen.
BTW. It wasn't clear to me from [rules_rust/Rust Analyzer](https://bazelbuild.github.io/rules_rust/rust_analyzer.html)'s own doc. Maybe it should be updated to include this config?

@UebelAndre I do have rust/cargo installed locally for my user, in addition to the one installed by the workspace.

[code]

My bazel environment:

[code]

Th

[2022-07-25 06:29] UebelAndre commented on #1480
If someone could make a workspace with a `WORKSPACE.bazel`, `BUILD.bazel`, and potential `.bazelrc` I can take a look at this after setting up a Linux environment. So far I’m unable to reproduce the issue on MacOS using this repo but perhaps the setup is different enough to avoid the issue.

[2022-07-25 14:02] UebelAndre opened #1481 "rust_static_library and rust_shared_library cause failures for rust-analyzer"
Attempting to generate a `rust-project.json` for the [rules_rust examples](https://github.com/bazelbuild/rules_rust/tree/0.8.0/examples) fails with the following error:
[code]
[code]

It seems any use of `rust_static_library` or `rust_shared_library` cause the generator to fail.

[2022-07-25 17:10] UebelAndre commented on #1480
@mingyc @omerbenamram does https://github.com/bazelbuild/rules_rust/pull/1483 solve the issue you're having?

[2022-07-26 05:46] omerbenamram commented on #1480
@UebelAndre i built rules_rust from your branch and it works as expected :)

[2022-07-26 06:07] jarreds commented on #276
@DeCarabas any config/code you can share on this exact cc toolchain setup?

[2022-07-26 14:57] #1481 closed

[2022-07-27 16:21] GregBowyer commented on #1238
I hit this _without_ a custom allocator using GCC (on clang it works fine ala 802bcf9).

An alternative workaround to the one posted in #1350, is to do a stub of a rust binary that essentially calls into C++. I made the C++ have a `int app_main(int argc, char** argv)` and the following rust src

[code]

This is untested on anything other than linux and is IMHO a hack, but might be useful for peopl

[2022-07-27 18:46] GregBowyer commented on #1238
Alas this failed for me on macos, I think recommending `rust_library` for `CcInfo` provision is a little flawed, even if the older approach has its issues.

[2022-07-27 20:19] diceride commented on #1447
I'm having the same problem when creating a new project from scratch using only the rules_rust ruleset and one single workspace member using rust_library.

Cargo.toml
[code]

WORKSPACE
[code]

[code]

[2022-07-28 12:33] krasimirgg opened #1488 "FR: support for linking via cc_common.link"
We would like to add support to rules_rust for linking rust binaries via the [cc_common.link](https://docs.bazel.build/versions/main/skylark/lib/cc_common.html) Bazel mechanism. This feature would allow for better cross-language interoperability and make it easier to provide cross-language integration of features like LTO and sanitizer support by adapting the rust compilation pipeline to produce a

[2022-08-01 15:12] #1233 closed

[2022-08-01 16:41] keith commented on #1488
Will / should this have any impact on if you're linking `rust_library` targets into `cc_binary` targets instead of top level `rust_*` targets as you mention here?

[2022-08-01 19:35] UebelAndre opened #1493 "Add support for bzlmod"
It would be nice if `rules_rust` supported [bzlmod](https://docs.bazel.build/versions/main/bzlmod.html) workflows. Hopefully someone familiar with that can enable that for this project.

[2022-08-02 03:25] UebelAndre opened #1495 "Promote crate_universe to non-experimental"
I think `crate_universe` is stable enough to be considered non-experimental. Given the amount of unit and integration tests for the tool as well as the integration from the following PRs:

- https://github.com/bazelbuild/rules_rust/pull/1494
- https://github.com/bazelbuild/rules_rust/pull/1492
- https://github.com/bazelbuild/rules_rust/pull/1491
- https://github.com/bazelbuild/rules_rust/pull/1448

[2022-08-02 03:25] UebelAndre commented on #1495
cc @illicitonion

[2022-08-02 09:05] krasimirgg commented on #1488
I think the impact will be minimal: there could be some bug fixes that apply to both, but on the other hand the cc_common.link feature relies largely on the same abstractions as the ones used to support cc_binary, so a lot of functionality will be implicitly shared between them.

[2022-08-02 09:26] illicitonion commented on #1495
I'd be fine with that, but /cc:
- [x] @UebelAndre
- [x] @illicitonion
- [ ] @hlopko
- [ ] @scentini
- [ ] @krasimirgg
- [ ] @dfreese

[2022-08-03 14:01] krasimirgg opened #1497 "FR: have rustc_compile_action return a dictionary"
With @scentini we were thinking this could be an improvement. This will be useful to be able to distinguish between the returned providers in client code, so we don't have to do stuff like this:
https://github.com/bazelbuild/rules_rust/blob/c97f255dfe23107670fb5193ecc0e6e31045285c/rust/private/rustc.bzl#L288

[2022-08-03 17:14] UebelAndre commented on #1497
Isn’t this a private API currently? That sounds fine to me since it sounds low impact but it also seems providers lack a way to identify them. I’ve run into this same issue and wish there was maybe a built in label parameter on them that made them use identifiable. What do you think?

[2022-08-05 12:49] scentini commented on #1374
Hey folks, I have https://github.com/bazelbuild/rules_rust/pull/1500 up for review.

[2022-08-05 13:20] #1374 closed

[2022-08-05 20:33] binoche9 opened #1502 "Mirror URL for `http_archive` give 404s"
If I use the following snippet from https://github.com/bazelbuild/rules_rust/releases/tag/0.8.1:

[code]

I see the following warning:
[code]

Looking at https://mirror.bazel.build/ (and also manually guessing other URLs) it seems like none of the `rules_rust` versions are on the mirror repository - is it possible we're not properly uploading to there?

[2022-08-05 23:07] silas-enf commented on #1502
I was just searching slack for the same issue and saw another user put in their own request for 0.7.0 (https://github.com/bazelbuild/bazel/issues/15881), so I just did the same for 0.8.0 and 0.8.1 (https://github.com/bazelbuild/bazel/issues/16056).

It seems there may be an unresolved problem with the release process.

[2022-08-08 12:17] #1294 closed

[2022-08-08 14:20] UebelAndre commented on #1209
Closing this out since the issue appears to be resolved post Rust 1.60

[2022-08-08 14:20] #1209 closed

[2022-08-08 14:23] UebelAndre commented on #636
I believe this is addressed by https://github.com/bazelbuild/rules_rust/pull/711. If anyone feels the docs are still lacking, I think we should track more specific problems in new issues.

[2022-08-08 14:23] #636 closed

[2022-08-08 14:35] UebelAndre commented on #1495
I've put together a pull-request (https://github.com/bazelbuild/rules_rust/pull/1504) to update the documentation since it seems maintainers are generally in favor of the change.

[2022-08-08 15:06] #1495 closed

[2022-08-08 16:30] #615 closed

[2022-08-08 16:44] UebelAndre commented on #704
https://github.com/bazelbuild/rules_rust/pull/1455 addresses the final check mark of wanting a separate toolchain for rust-src artifacts.

[2022-08-11 10:22] boxdot commented on #1447
In my case, the lock has to be updated because the generated `Cargo.toml` contains a special `[package]` section:

[code]

[2022-08-11 13:43] ImJeremyHe opened #1509 "build rust_wasm_bindgen failed"
Hello! I am trying to build a wasm using bazel.
I wrote the BUILD file like this:
[code]

And I run the cmd in this folder:
[code]
And it failed because of:
[code]

I check the version of `wasm-bindgen` in the **bazel-bin/external** and it is 0.2.82,
which is the same as cmd wasm-bindgen -V shows.

Run the cmd `wasm-pack build` is ok.

Is there any wrong use about these rules?

[2022-08-11 17:45] hchataing opened #1510 "Broken rust_library with modules and generated sources"
The commit `c7cb5bd7a85496b31ab3e20216e7b35677572d09` wrongly flattens the hierarchy of rust crates.
This results in the any crate using modules not compiling anymore as long as it uses generated sources as well.

[code]

[code]

The error comes from the use of `src.basename` in `transform_sources`, instead of the relative file path as it should.

[2022-08-12 15:02] snowp commented on #1374
After applying this fix I'm still seeing
[code]

for one of our use cases on macos (linux is fine). Would you prefer me to open up a new issue to track this?

[2022-08-14 04:50] csmulhern opened #1514 "`crates_vendor` in remote mode uses incorrect labels when used from the root workspace"
Note: this is a different problem than #1341.

When using crates_vendor in remote mode from the root workspace, incorrect labels are used in the `defs.bzl` and `crates.bzl` generated files. Here are two examples:

defs.bzl:

[code]

crates.bzl:

[code]

Something like the following fixes things for me locally:

[code]

[2022-08-14 04:57] csmulhern opened #1515 "`crates_vendor` ignores package renames in Cargo.toml for aliases"
For example, this entry in Cargo.toml:

[code]

Will generate an alias such as:

[code]

Whereas I'd expect the name to be `async_trait` (vs `async-trait`).

[2022-08-15 04:12] csmulhern opened #1516 "`rust_test` should look for main.rs instead of lib.rs when use_libtest_harness is false"

[2022-08-15 05:01] duarten opened #1517 "clippy aspect causes go binaries to fail"
When building with the clippy aspect, if there are go targets in the workspaces, then the build fails with

[code]

The go binary is a simple `go_binary`:

[code]

[2022-08-15 05:33] UebelAndre commented on #1517
Can you provide a workspace as an example? I’m curious why it seems someone is trying to run clippy without registering any toolchains. Perhaps there’s more going on.

[2022-08-15 05:34] UebelAndre commented on #1516
Sounds good to me! Would you be willing to open a PR for this?

[2022-08-15 06:01] duarten commented on #1517
Sure, this is a pretty minimal repro:

[code]

[code]

[code]

[2022-08-15 06:15] UebelAndre commented on #1517
Seems you’re missing `rust_register_toolchains` call in your workspace? Can you double check your workspace file with https://bazelbuild.github.io/rules_rust/#setup ?

[2022-08-15 12:06] duarten commented on #1517
Sorry, I cut things too short. I've updated the repro with a rust binary too. I've also pushed it here: https://github.com/duarten/clippy-repro.

`bzl build //....` fails with the aspect, but succeeds without it.

Something I forgot to mention: the issue happens because I'm cross-compiling the go binary (I'm running on mac, but if you'll notice, the go binary is targeting linux). There's no rust t

[2022-08-15 12:51] bsilver8192 commented on #1238
Update on this: #1490 added the `rust_toolchain.allocator_library` attribute which allows setting a `cc_library` that implements these symbols. Actually creating that library is still tricky though. You can get started by copying the one that PR includes, but it may need updates to work with different rustc versions.

[2022-08-15 16:40] UebelAndre commented on #1517
It seems `rules_go` is doing some forced transitions here? https://github.com/bazelbuild/rules_go/blob/v0.29.0/go/private/rules/transition.bzl

The issue very likely comes form the `@rules_cc//cc:toolchain_type`/`@bazel_tools//tools/cpp:toolchain_type` dependency on a `@rules_rust//rust:toolchain_type`. I suspect if you were to register a C++ toolchain compatible with the target then the issue wou

[2022-08-15 16:58] illicitonion commented on #1517
rules_go changed how it does transitions fairly recently to be much more constrained in what it transitions - https://github.com/bazelbuild/rules_go/pull/3116 should have fixed this :) it was released in 0.34.0

[2022-08-15 17:47] duarten commented on #1517
Of course the issue was with Go :) Updating rules_go fixed it. Thanks for the help guys!

[2022-08-15 17:47] #1517 closed

[2022-08-16 05:52] MichaelPaddon opened #1519 "openssl-sys crate doesn't build with vendored feature enabled"
The crate builds fine using vanilla cargo.

The build script fails when it is trying to copy the openssl source:
[code]

When I disable sandboxing, the copy succeeds, but the make fails.

[2022-08-16 10:01] krasimirgg commented on #1497
Right, it's private. However there are already folks using it despite that (not saying that's good or bad, just it exists):
https://github.com/google/crubit/blob/6ff59f1d0c784440dc13ea0597c1567d95e69884/rs_bindings_from_cc/bazel_support/rust_bindings_from_cc_utils.bzl#L140
Currently the crubit maintainers absorb the maintenance bunder to use this private API.

Afterwards in the code the providers

[2022-08-16 15:23] UebelAndre commented on #1497
The point of having anything be “private” at all is so we can make changes without considering what users might consume. I think it would be great to have a public `rust_Common` that had a `rustc_compile_action` in it. If folks wanna use the API and don’t want us to break them randomly then I think the least they could do is open a feature request and get the ball rolling. If “private” didn’t do t

[2022-08-17 17:10] pikajude opened #1521 "Usage example for `remap-path-prefix`"
As far as I can tell from searching through the source code, rules_rust *does* support passing this option to rustc, but I can't tell how or where to configure it.

[2022-08-17 17:21] bsolomon-bw commented on #381
That's a shame.  Can we resurrect this?  I'd imagine that most Bazel projects using Rust crates are probably importing them into other languages, i.e. calling from C or C++.

[2022-08-18 11:07] cameron-martin opened #1522 "Don't update Cargo.lock when re-pinning"
When doing something that requires updating `cargo-bazel-lock.json`, for example changing the rust version or even the initial setup of bazel, the only option is to do a full `cargo update`, which updates a lot of versions in the `Cargo.lock`. However, it would be nice if there was a way of generating the `cargo-bazel-lock.json` only, using the versions of the packages defined in the `Cargo.lock`.

[2022-08-18 11:48] illicitonion commented on #1522
See https://bazelbuild.github.io/rules_rust/crate_universe.html#repinning--updating-dependencies

You can currently use `CARGO_BAZEL_REPIN=workspace` to generate the file without updating any dependencies - does this work for you?

[2022-08-18 12:17] cameron-martin commented on #1199
You can find documention on this here: https://doc.rust-lang.org/cargo/reference/workspaces.html#the-workspace-section

[2022-08-18 12:20] cameron-martin commented on #1522
Thanks for the info, this does indeed work. This is not the most intuitive naming, unless you know the behaviour of `cargo update --workspace`.

[2022-08-18 13:05] illicitonion commented on #1522
Yeah, I agree... @UebelAndre how would you feel about a breaking change where we make `CARGO_BAZEL_REPIN` no longer take a truthy value, and instead require either setting `CARGO_BAZEL_REPIN=update-all` or `CARGO_BAZEL_REPIN=regenerate-lockfile`?

[2022-08-18 13:33] cameron-martin commented on #1522
I'll re-open this if there is a potential change here.

[2022-08-18 15:48] c-parsons opened #1523 "Bazel@HEAD CI failing with rules_rust"
Related to breaking Bazel change https://github.com/bazelbuild/continuous-integration/issues/1404

Likely because of this repository's dependency on rbe_autoconfig (particularly from examples WORKSPACE files). May need a fix similar to https://github.com/bazelbuild/rules_proto/pull/134/files for rules_proto

Example failure: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2590#018

[2022-08-18 18:20] #1523 closed

[2022-08-19 19:00] GregBowyer commented on #381
@bsolomon-bw it's not a lack of interest, just time. With that said, I have moved mostly away from cbindgen towards cxx which, I feel, might serve you better (that's not to say cbindgen isn't great, just that cxx better fits into bazel C++ codebases).

[2022-08-20 14:42] cameron-martin opened #1525 "Support local cargo dependencies outside of a workspace"
If you have a dependency on a local crate that isn't in the same workspace, `cargo-bazel` seems to fail with:

[code]

My situation is almost identical to the [multi-package example](https://github.com/bazelbuild/rules_rust/tree/main/examples/crate_universe/multi_package), but where there is a dependency between the packages, for example `pkg_a` has the following dependency:

[code]

I know I coul

[2022-08-20 21:37] UebelAndre commented on #1521
[rustc_flags](https://bazelbuild.github.io/rules_rust/defs.html#rust_binary-rustc_flags) doesn’t work to pass the flags? I’m assuming there’s more nuance to the issue so just want to clarify things

[2022-08-21 15:11] cameron-martin commented on #1510
I'm struggling to find a way of getting this relative path. [src.short_path](https://bazel.build/rules/lib/File#short_path) and [src.path](https://bazel.build/rules/lib/File#path) both return the file path relative to the workspace root, where I instead want the file path relative to the package root. If it was possible to find the package root, I could do `src.path.removeprefix(package_root)`, bu

[2022-08-22 09:36] #1510 closed

[2022-08-22 13:50] hchataing commented on #1510
Thanks for the speedy fix!

[2022-08-25 17:26] tetsuok opened #1527 "Error applying patches with patches attribute in crate.annotation rule"
[crate.annotation](http://bazelbuild.github.io/rules_rust/crate_universe.html#crateannotation) rule supports `patches` and `patch_args` attributes, but applying patch failed. See error message below. It would be great if there is something wrong with the configuration (see below).

[code]

Output:
[code]

Below is a set of related files on this issues. For the full contents, see https://github.com

[2022-08-25 17:47] UebelAndre commented on #1527
This is the same issue as https://github.com/bazelbuild/rules_rust/issues/1236

[2022-08-25 17:48] UebelAndre commented on #1236
Closing this out in favor of https://github.com/bazelbuild/rules_rust/issues/1417 which seems to have more discussions around long term solutions.

[2022-08-25 17:48] #1236 closed

[2022-08-25 17:52] UebelAndre commented on #1527
Could you try changing `"@//:ahash.patch"` to expand the repository name of your workspace?

[2022-08-25 17:54] tetsuok commented on #1527
Thanks, but why does applying patches in cargo.annotation fail? I thought it should work in the same way as http_archive.

[2022-08-25 17:56] cameron-martin commented on #1493
I don't know that much about bzlmod, but have started having a look at this. Initially I would like to simply replace `rules_rust_dependencies`. However, I'm having some issues. Details in #1528.

[2022-08-25 18:27] UebelAndre commented on #1527
Ah, I see, the thing you're trying to do won't work. By the time an `http_archive` is generated for the crate, the dependency graph has already been resolved. What you'd want to do instead is somehow set [[patch.crates-io]](https://doc.rust-lang.org/cargo/reference/overriding-dependencies.html) or something in the manifest `crates_repository` uses to query the dependency graph.

[2022-08-26 10:13] tetsuok commented on #1527
@UebelAndre Thanks for the suggestion. I'm now wondering why crate.annotation rule supports the 'patches', 'patch_args', and 'patch_tool' attributes. Cargo Universe is fantastic to enable "Cargo free" set up. It would be great to clarify the intended use cases of the attributes.

[2022-08-26 10:30] tetsuok commented on #1527
Sorry, I missed your prompt response. I just added the workspace name (commit https://github.com/tetsuok/rules_rust_cargo_universe_hashbrown/commit/719a5d0cff1daf7b8ab01a7d3e576bfff60dde6a), but it doesn't work, unfortunately.

[2022-08-26 17:03] UebelAndre commented on #1527
Rust has it's own build system and public registry where developers can publish versions of their code using said build system. 99.9% of the available libraries you could use in a project are built and tested using Cargo. The way `crate_universe` works is by relying on Cargo to go describe dependency graphs and where to download crates from so that it can generate some repository rules and BUILD f

[2022-08-26 18:28] tetsuok commented on #1527
Yes, thank you for the detailed explanation! I think I understand your point.

[2022-08-26 19:45] roman-kashitsyn opened #1530 "process_wrapper build is not deterministic"
While experimenting with rules_rust build reproducibility, I found that the `process_wrapper` binary build is not deterministic.

How I reproduced the problem:
I created 2 identical directories on my macOS machine with the following content:
[code]

Running `bazel build :panic` produced slightly different binaries.
An inspection of `bazel-build-log.json` file showed that `process_wrapper` had diff

[2022-08-27 18:19] alexpusch opened #1531 "Building with --@rules_rust//:error_format flag invalidates Bazel cache"
Running `bazel build <target>` followed by `bazel build --error-format=json <target>` will discard analysis cache and action cache:

(from build command log)
[code]
(From bazel explain log)
[code]

A consecutive  `bazel build <target>` will run without action cache as well.

This behavior isn't really surprising, as described in several Bazel tickets - i.e https://github.com/bazelbuild/bazel/issue

[2022-08-28 07:47] csmulhern commented on #1516
Sure, I've opened a PR: #1518.

[2022-08-29 17:00] #1516 closed

[2022-08-30 19:40] lbruno commented on #1447
For what it's worth I get the same error message, and I have no diffs between the spliced workspace's Cargo.lock and my top-level Cargo.lock

[code]

I had that same diff, so i removed that block [i could've sworn from the toplevel non-spliced Cargo.lock and now i see no diffs when i run

[code]

[2022-08-31 06:49] dae opened #1535 "crate_universe adds registry+https://github.com/rust-lang/crates.io-index to Cargo.lock"
I recently updated from an old crate_universe to the one in the latest rules_rust release. Most things seem to be working well, but I've run into an issue with Cargo.lock being changed.

Each time I run `REPIN=workspace bazel build`, the Cargo.lock file is updated to add explicit references to the default registry, eg:

[code]

After that, I can build with bazel successfully (though it splices twi

[2022-08-31 13:47] roman-kashitsyn opened #1536 "process_wrapper does not substitute in param files"
Sometimes rules_rust issues rustc commands with command line flags stored in`.params` files:
[code]
However, there is no logic in `process_wrapper` to substitute `${pwd}` in `@*.params` arguments. This can result in non-deterministic build artifacts.

[2022-08-31 19:57] lbruno commented on #1447
K, so i also needed `lockfile = "//:Bazel-cargo-lock.json"`, touch that empty file, and then i'm forced to rerun bazel after setting `$env:CARGO_BAZEL_REPIN=$true`.

so i guess this bit works now :)

i'm having trouble trying to actually use the dependencies i vendored into //cargo/vendor, but that's the subject of a different bug

[2022-09-01 21:39] illicitonion commented on #1535
I started debugging this:

We overwrite the lockfile here: https://github.com/bazelbuild/rules_rust/blob/2bb077b3b7585e87bf6f5bfcce77f9470d1d5210/crate_universe/src/cli/generate.rs#L130-L132

AFAICT the bug here is that cargo-lock and cargo have different heuristics for when to include a registry. I think cargo proper does so if the crate exists in multiple registries, whereas cargo-lock seems to

[2022-09-02 14:05] dae commented on #1535
Out of curiosity, is the updating of Cargo.lock just there to support the REPIN=1 / REPIN=cratename use cases, or is it necessary for other reasons as well? As someone not familiar with the inner workings of it, I must admit I found the behaviour a bit surprising - I expected the Cargo.toml/.lock files to be treated as the source of truth, with crate_universe using them as-is, or presenting an err

[2022-09-04 13:41] illicitonion commented on #1535
Yeah, it's only for when REPIN happens - I've got a draft PR put together which fixes the issue, will write some tests and get it up in the next couple of days!

[2022-09-05 07:13] #1509 closed

[2022-09-05 07:44] dae commented on #1535
Just to confirm, does that mean than dependency updating when REPIN is set is just to avoid a separate manual call to 'cargo update'? If so, I can't speak for other people, but I'd personally prefer to manage Cargo.lock updates with the standard cargo tooling, with the Bazel dependencies derived from the Cargo.lock source of truth, like cargo-raze did. If that were practical, it would mean that up

[2022-09-05 12:18] rdelfin opened #1538 "Clippy #[allow(..)] does not work with clippy aspect"
I'm following [these instructions](http://bazelbuild.github.io/rules_rust/rust_clippy.html) to enable clippy as an aspect on my repo. In the process of doing that, I hit an issue where there was a clippy linter that I need to ignore on a line:

[code]

This is part of a [cxx module](https://github.com/dtolnay/cxx) that _requires_ explicit parameters (following the clippy suggestion results in a co

[2022-09-05 17:12] illicitonion commented on #1535
Yes - particularly, this matters in cases where e.g. there isn't exactly one `Cargo.lock` file corresponding with exactly one `Cargo.toml` workspace (e.g. if folks are using `annotation`s to add (extra) dependencies, where there may not even be _any_ `Cargo.toml` file), or where you can't assume that folks have a `cargo` toolchain installed locally at all.

That's a supported workflow - if you `RE

[2022-09-05 21:47] UebelAndre commented on #1522
I'm totally fine with any kind of aliasing folks want to add to represent some flag combination but I'd still like there to be some default behavior for a truthy value. What the truthy value evaluates to I'm also fairly flexible on. It should be the most common of the values users would otherwise set to `CARGO_BAZEL_REPIN` but I don't want to be the one to choose since I'm already familiar with ho

[2022-09-06 03:07] dae commented on #1522
My vote would be for making workspace/generate-lockfile the default, as I think that's the least surprising: https://github.com/bazelbuild/rules_rust/issues/1535#issuecomment-1236650916

[2022-09-06 03:08] dae commented on #1535
Thanks Daniel, I appreciate you taking the time to elaborate, and for the fix in #1539. I'll stick with manually setting workspace for now, and have suggested it become the default on #1522.

[2022-09-07 15:45] arvyveer opened #1542 "Null"

[2022-09-08 13:34] #1542 closed

[2022-09-08 15:30] UebelAndre commented on #1538
Can you provide a small example project to repro of the issue?

[2022-09-10 01:12] hiro-o918 opened #1548 "Does rust-analyzer support cargo check?"
I found that rust-analyzer based on Bazel does not show cargo check result on VSCode, e.g. when setting up rust analyzer for this [example](https://github.com/bazelbuild/rules_rust/tree/main/examples).

I'd like to ask whether this should be a problem because of my environment, or current rules_rust does not support cargo check.

For my understanding, rust-analyzer rules generates `rust-project.js

[2022-09-10 17:43] UebelAndre commented on #1535
@dae would you be able to provide a repro for this issue? I can try to break it down further to try and respond to https://github.com/rustsec/rustsec/issues/687#issuecomment-1241465446

[2022-09-13 12:54] fmorency opened #1550 "C/CXX Bazel flags are propagated to crate dependencies"
Follow-up from a thread on the Bazel Slack. CC @illicitonion.

**MRE**
Clone MRE in https://github.com/fmorency/bazelsyscov and run
[code]
The above will fail to build.

Running the following works as expected

[code]

Tested using Bazel 5.2

**Problem**
Bazel is propagating C/CXX flags to crate dependencies. I stumbled on at least one crate where this is causing an issue when using `bazel coverag

[2022-09-14 01:51] dae commented on #1535
He's a small repo that demonstrates the issue: https://github.com/ankitects/rules_rust_registry_repro

[2022-09-14 12:50] purkhusid commented on #881
Are there any workarounds to get runtime linking working on MacOS? It seems like the PR that was supposed to fix it in Bazel 4.2 was reverted.

[2022-09-14 16:33] cfrantz opened #1552 "bindgen does not used the `.bazelrc` configured `cxxopts`"
In https://github.com/lowRISC/opentitan/pull/14860, I found that while building the dependencies for my bindgen rule, the compiler was not being invoked with the project-specified `--cxxopt`s.   In the CI environment, this resulted in the compiler being invoked with `-std=c++0x` rather than the project specified `-std=gnu++14`.

In order to overcome this issue, I added the following to the `.bazel

[2022-09-15 01:44] goffrie opened #1554 "rust_binary/rust_test don't copy cc_import runtime libraries for Windows"
If you depend on a cc_import library from a rust_binary target, on Windows the binary will fail to launch because the library DLL is not found. (On other platforms it seems that the library is found via RPATH, but Windows doesn't have that.)

cc_binary solves this problem by [symlinking such libraries into the output directory of the executable](https://github.com/bazelbuild/bazel/blob/dcc5b227fa0

[2022-09-15 17:17] UebelAndre commented on #1554
If there's prior art for this in upstream Bazel then I'd be happy to review a PR 😄

[2022-09-16 00:00] bsilver8192 commented on #1525
I think is a duplicated of #361.

[2022-09-16 06:56] mfarrugi commented on #1552
By 'the compiler' do you mean bindgen's invocation of clang?

Do you know how the BAZEL_CXXOPTS value ends up where you want it to? It looks like maybe it's part of the linker environment https://github.com/bazelbuild/rules_rust/blob/c13980fb6f24807564187841b9416ca5f3491ac5/bindgen/bindgen.bzl#L136-L137

If it's not a bazel bug that --cxxopts doesn't flow through the same way from starlark's persp

[2022-09-17 10:43] cameron-martin commented on #1525
Are you sure that is a duplicate? This is about rust to rust dependencies, not rust to C++

[2022-09-18 04:49] bsilver8192 commented on #1525
Oops, my bad, edited the prior comment to avoid further confusion. I was confused about which project this issue is in, I was trying to refer to google/cargo-raze#361 which is the same problem for raze.

[2022-09-19 22:41] bsilver8192 opened #1555 "Feature request: some way to get the Bazel execroot in build.rs"
I would like a way to access the Bazel execroot path from build.rs, so I can run commands from that directory.

Specifically, I'm using [cc::Build](https://docs.rs/cc/latest/cc/struct.Build.html) with a custom Bazel toolchain. It mostly works, except my toolchain has relative paths, so the `${CC}` needs to be run from the execroot. For my situation, I don't mind writing a wrapper that changes dire

[2022-09-20 13:43] PigeonF opened #1556 "Unable to build example: cannot open file librustc_std_workspace_alloc-ba723ab4066a2120.rlib"
Just adding this for posterity, since I managed to fix the issue.

Attempting to build the examples with

[code]

fails with

[code]

The problem is that the path exceeds the path character limit on Windows.

The fix is described in the [Best Practices Section of the bazel documentation](https://bazel.build/configure/windows#best-practices) (enabling 8.3 filename support, or using `--output_user_r

[2022-09-20 13:43] #1556 closed

[2022-09-20 14:46] UebelAndre commented on #1120
https://github.com/bazelbuild/rules_rust/issues/1556 seems to be another case of this issue.

[2022-09-20 16:11] PigeonF opened #1557 "process_wrapper not found on windows"
On Windows 10, rules_rust commit 78c793a0ac532ed3f300ec794bf7ac1ae3c627b4, bazel version

[code]

While trying to run

[code]

Fails with the following log

[code]

Searching through `D:/bazel/6fssty6r/execroot/examples/bazel-out/`, I find

- `execroot\examples\bazel-out\x64_windows-opt-exec-2B5CBBC6\bin\external\rules_rust\util\process_wrapper\process_wrapper.exe`

but not in the `x64_windows-fas

[2022-09-20 18:19] PigeonF opened #1558 "crate universe example fails with "The directory name is invalid""
On Windows 10, rules_rust commit 78c793a0ac532ed3f300ec794bf7ac1ae3c627b4, bazel version

[code]

While trying to run

[code]
After some debugging I found that this was not actually an issue with any of the binaries being run, but instead that the manifest directory does not exist, which means the command spawned in https://github.com/bazelbuild/rules_rust/blob/78c793a0ac532ed3f300ec794bf7ac1ae3c6

[2022-09-20 20:16] PigeonF commented on #1557
A similar issue occurs when trying to run `bazel run @rules_rust//tools/rust_analyzer:gen_rust_project` on another project.

The command fails with a file not found error. Digging further into it, the problem is in https://github.com/bazelbuild/rules_rust/blob/78c793a0ac532ed3f300ec794bf7ac1ae3c627b4/tools/rust_analyzer/lib.rs#L69

`gen_rust_project.exe` tries to load `D:\\b\\aaec6sll\\execroot\\p

[2022-09-21 09:54] illicitonion commented on #1558
Several parts of rules_rust assume that on Windows you're running bazel with `--enable_runfiles` - can you check that you are, and if not, try enabling it?

[2022-09-21 11:19] PigeonF commented on #1558
This does indeed fix the issue!

Thanks for your help! Incidentally, this also fixes the problems I mentioned in #1557.

P.S.: Is this mentioned somewhere in the docs? I did not find this solution immediately obvious (but I am also new to bazel, so maybe this is something that is just "common knowledge").

[2022-09-21 11:19] #1558 closed

[2022-09-21 11:19] PigeonF commented on #1557
Fixed by running with `--enable_runfiles` (see https://github.com/bazelbuild/rules_rust/issues/1558#issuecomment-1253473828)

[2022-09-21 11:19] #1557 closed

[2022-09-21 12:41] illicitonion commented on #1558
Great question! I couldn't find it documented anywhere, so I sent out https://github.com/bazelbuild/rules_rust/pull/1560 :) Thanks for highlighting the issue!

[2022-09-21 13:58] snowp commented on #919
A result of this is that bindgen doesn't work when building for the newer Mac models that run on arm64, which is blocking our use of the bindgen rules.

Has any thought been given to how to address this? The quick fix for Mac arm64 would be to reference the arm64 pre-built llvm binaries, but bindgen is currently using a pretty old llvm version (10, current is 15.x) which doesn't provide mac arm64

[2022-09-23 21:06] UebelAndre commented on #1530
I wonder if https://github.com/bazelbuild/rules_rust/pull/1563 would help with this.

[2022-09-26 23:38] goffrie commented on #1530
I don't believe so - the issue is that `--remap-path-prefix` depends on `process_wrapper` to work, but when building `process_wrapper` we don't have access to itself so the remapping just doesn't do anything.

However, I believe including tinyjson directly into the process_wrapper crate would work around this issue.

[2022-09-28 02:18] bsilver8192 commented on #1488
I've been using the experimental support, and for most cases it works great! I have encountered one limitation though: it looks like `cargo:rustc-link-lib` (etc) directives emitted from a `cargo_build_script` get dropped. Not sure if that belongs here or as a separate bug.

[2022-09-28 05:04] mickeyh commented on #78
I think it does (at least, I have successfully had linker arguments passed from a `cc_library` into a `rust_binary`).

However, in one particular edge case (`rust_test`s that cover inline tests (using the `crate` attribute)) it still fails. I'm pretty confident that this occurs because in this case:
1. [`_rust_test_impl`](https://github.com/bazelbuild/rules_rust/blob/c57e7a399259e56341f7188389adcd

[2022-09-28 08:33] scentini commented on #78
I believe 1 is not part of the problem; although we collect the deps in a depset, we flatten the depset here: https://github.com/bazelbuild/rules_rust/blob/main/rust/private/rustc.bzl#L207.
For 2 - if someone volunteers to write a PR - the fix would be to replace the `gettattr("deps")` call with `crate_info.deps`, similar to https://github.com/bazelbuild/rules_rust/pull/1543/files

[2022-09-29 08:17] mickeyh commented on #78
@scentini I've put up a PR #1569 , which I think does what you describe. PTAL when you have the chance.

[2022-09-30 20:11] roman-kashitsyn opened #1572 "rust_doc_test fails for libraries with compile_data"
`rust_doc_test` fails if used on a crate that has compile-time data dependencies.
Minimal example:

`BUILD.bazel` file:

[code]

`lib.rs` file:

[code]

`data.txt` file:

[code]

How to reproduce:
Copy the files above into `examples/doc_test_compile_data` and run bazel test:

[code]

[2022-09-30 22:36] snowp opened #1573 "libtest/libstd being dynamically linked on macos"
Presumably related to https://github.com/bazelbuild/rules_rust/issues/1374

On the latest release we're still seeing rustlib being dynamically linked with a rust_binary output (non-trivial project setup, not sure how much this matters), resulting in a binary that cannot be loaded:

[code]

We've been able to work through this by applying the following patch to rules_rust:

[code]

This unblocks us

[2022-10-01 01:22] pddg opened #1574 "`workspace.dependencies` was not defined"
Rust 1.64 is released. Inheriting dependencies from a workspace is now stable.
https://doc.rust-lang.org/stable/cargo/reference/specifying-dependencies.html#inheriting-a-dependency-from-a-workspace

However, it is not supported by `crate_universe`. Inheriting dependencies from workspace causes error during Repinning/Updating dependencies.

## Environment

- Rust 1.64.0
- bazel 5.3.0
- rules_rust 0

[2022-10-01 16:27] snowp opened #1576 "proc_macros do not work with RA on 1.64"
Per https://github.com/rust-lang/rust-analyzer/issues/13322 for 1.64 we need to provide sysroot in rust-project.json + set up the symlinks for `rust-analyzer-proc-macro-srv` in order for the proc_macros to work out of the box with rules_rust's RA integration

A temporary workaround for anyone that run into this is specifying the proc macro server in the RA config, e.g.

[code]

I got something tha

[2022-10-01 17:43] csmulhern commented on #1515
In actuality, it is only ignoring renames that only change dashes into underscores.

The offending code is here:

https://github.com/bazelbuild/rules_rust/blob/86dc561f9b08d75ee890bdfdbab737fac93a1dd1/crate_universe/src/metadata/dependency.rs#L126

https://github.com/bazelbuild/rules_rust/blob/86dc561f9b08d75ee890bdfdbab737fac93a1dd1/crate_universe/src/metadata/dependency.rs#L231-L240

https://git

[2022-10-02 19:16] UebelAndre commented on #1576
A pull request would be welcome! 🙏

[2022-10-02 19:20] UebelAndre commented on #1514
Sorry, it's not clear to me what the error you get is. Would you be able to post a failure and/or explain why the labels are incorrect and what a correct label would look like?

[2022-10-02 19:47] UebelAndre opened #1578 "Add `BuildInfo` provider to rules_rust public API"
This ticket expands on the thread started here: https://github.com/bazelbuild/rules_rust/pull/1537#issuecomment-1256297189

There have been a couple pull-requests around [cargo_build_script](https://github.com/bazelbuild/rules_rust/blob/0.10.0/cargo/cargo_build_script.bzl#L311-L435) which increase it's footprint the core Rust rules. I don't think the Bazel rules should become too entangled with th

[2022-10-02 19:49] UebelAndre commented on #1578
cc @illicitonion @scentini @krasimirgg

Do you folks have any thoughts on a path forward here aside from what as mentioned on https://github.com/bazelbuild/rules_rust/pull/1537#issuecomment-1256297189 ?

[2022-10-03 03:29] csmulhern commented on #1514
Sorry for being unclear. The errors are in the labels used throughout the generated code (see defs.bzl and crates.bzl examples in the original post). Note that the labels start with `@__main__//`.

`workspace_name` is meaningful as the repository identifier for external repositories, but `workspace_name` for the main repository is `__main__`, even though labels for the main repository should start

[2022-10-03 12:31] roman-kashitsyn opened #1579 "@rules_rust//:rustfmt deduces incorrect edition"
When I run
[code]
I get a lot of errors of the following kind:

[code]

Even though I have edition 2021 configured by default and configure a custom `rustfmt.toml` file with the following contents:
[code]

It seems that the tool is trying to guess editions by running a query like the following one:
[code]

There seems to be a bug in this query because it reports sources of packages that don't use

[2022-10-03 16:47] alexjpwalker opened #1581 "Can't attach breakpoints to the entry point of a `rust_test`, no debugging symbols generated"
When debugging the output of a `rust_test` target using `lldb`, we can attach breakpoints to crate dependency sources and standard library sources, but not to the entry point file `tests/mytest.rs`.

Running on MacOS. I assume the problem is that no [dSYM folder containing debugging symbols](http://bazelbuild.github.io/rules_rust/defs.html#rust_binary) is generated for a `rust_test` even with `-c

[2022-10-04 23:43] bsilver8192 opened #1584 "Pipelined compilation relies on crates building reproducibly"
I've encountered an issue when enabling `pipelined_compilation`: if a crate doesn't build reproducibly, then the .rmeta and .rlib end up with different hashes, and you get weird errors when trying to use that crate like this:
[code]

This particular case is because `prost-build` embeds absolute paths from environment variables (at https://github.com/tokio-rs/prost/blob/c2d70d962a701131cacdd45da31a

[2022-10-05 08:50] krasimirgg commented on #1488
Ah, nice catch! Something to fix definitely. @bsilver8192 I feel your comment on this issue is sufficient to capture and track this for now.

[2022-10-05 09:12] krasimirgg commented on #1578
I'm not super familiar with cargo_build_script's internals, but here are my thoughts about the private visibility instances in cargo_build_script.bzl:
* It feels like `BuildInfo` should be turned into a public API. The `DepInfo` not so much, I wonder if we can enhance the BuildInfo to support the use case where DepInfo is used...
* The `get_compilation_mode_opts` and `get_linker_and_args` seem gen

[2022-10-05 12:26] #1579 closed

[2022-10-06 12:26] googleson78 opened #1589 "[Bug/Question] Can we amend rust-analyzer generation crate consolidation to improve support for "cyclic" dependencies"
## Question
When we do crate consolidation here

https://github.com/bazelbuild/rules_rust/blob/d288ed634f9e149ceb0c81bda6cd93a810cf7e64/tools/rust_analyzer/aquery.rs#L163

on a build graph like so (`A`, `B`, `C` are crates)
[code]

`rust_test(C)` and `rust_library(C)` get their dependencies merged, and the result of that is that we can't actually generate `rust-project.json`, as now we have a real

[2022-10-06 15:46] igrekun opened #1590 "Differences of resolving Sync trait requirements"
I tried compiling module against [this crate](https://github.com/picodata/tarantool-module) and while it compiles just fine without Bazel,
seems like rules_rust handle something differently which results into compiler complains.  The rules_rust version is latest 0.10.0

[code]

The repository is defined manually like this

[code]

[2022-10-07 19:42] bsilver8192 commented on #1555
In addition to the execroot, the path between the root of the runfiles tree ('xyz.runfiles/repository_name`) and `${CARGO_MANIFEST_DIR}` would be helpful, that's the most common thing I find myself trying to derive.

[2022-10-07 22:52] bsilver8192 commented on #1552
I've got a fix for this and various other related issues on [my more-bazel-cc-toolchain-for-bindgen branch](https://github.com/bsilver8192/rules_rust/tree/more-bazel-cc-toolchain-for-bindgen). Looking through the `rules_cc` examples (and because it functions with some fairly complex toolchains I have), I think this is complete. However, as stated in the commit message, I strongly suspect it will c

[2022-10-07 22:57] #266 closed

[2022-10-10 09:34] illicitonion commented on #1555
We currently do `${pwd}`-substitution on the `build_script_env` attribute: https://github.com/bazelbuild/rules_rust/blob/7ffe0a5556a35f8c11bf9a9ae8bc4020dd44ea13/cargo/cargo_build_script_runner/bin.rs#L108-L114

So if you were to write:

[code]

I think you'd end up being able to access the exec root? Not necessarily the ideal API, but I think it should work...

Then for runfiles-based lookups, yo

[2022-10-10 16:48] #1514 closed

[2022-10-11 22:37] bsilver8192 commented on #1555
Yes, that does work. It needs a level of escaping for reference:
[code]

[2022-10-12 03:43] UebelAndre opened #1592 "Pubish runfiles package to crates.io"
Would it be possible to publish the [runfiles|https://github.com/bazelbuild/rules_rust/blob/main/tools/runfiles/runfiles.rs] package to https://crates.io/ so it doesn't become an unnecessary forcing forcing function between the use of Bazel and Cargo? The library very rarely changes so I think it'd be fine to publish something to maintain interoperability.

[2022-10-12 03:43] UebelAndre commented on #1592
cc @krasimirgg @scentini

[2022-10-12 08:06] krasimirgg commented on #1592
I'm a bit doubtful about successfully using this from a cargo context: from the sources it looks like this is very specifically designed for using in bazel environments: https://github.com/bazelbuild/rules_rust/blob/main/tools/runfiles/runfiles.rs#L1. As a risk: if we publish it to crates.io, this may create unreasonable expectations that it works in cargo context.
Otherwise I think it's fine to p

[2022-10-12 15:11] UebelAndre commented on #1535
Don't know if folks here saw https://github.com/rustsec/rustsec/issues/687#issuecomment-1275018145 but I feel the proper solution to this issue is to instead have `cargo-lock` serialized correctly. I just recently updated all dependencies in `crate_universe` (https://github.com/bazelbuild/rules_rust/pull/1591) to make sure pulling in new changes would be easy. Would someone be willing to submit a

[2022-10-13 09:43] #1536 closed

[2022-10-13 10:11] nathanosdev commented on #1417
I just encountered this issue too, I can make an attempt at a PR @UebelAndre

[2022-10-13 11:53] illicitonion commented on #1417
I would gladly review it! Thanks @nathanosdev!

[2022-10-15 15:48] UebelAndre commented on #1522
Pull requests would be welcome 😄

[2022-10-16 17:16] fmeum commented on #1592
While it's true that the runfiles library should change only very rarely, it actually will have to change to accommodate Bzlmod (see https://github.com/bazelbuild/bazel/issues/16124 and the linked proposal). Whatever the outcome of this discussion is, I would urge you to wait until Bazel 6 has been released and the required changes have been implemented.

[2022-10-17 11:19] pddg commented on #1574
@UebelAndre
I confirmed that it works perfectly with some dependencies inherited from workspace!
Thank you!

However, support for workspace inheritance does not yet appear to be complete. For example, in Cargo, it is possible to specify `edition` on Cargo.toml at workspace root.

Cargo.toml at workspace root
[code]

Cargo.toml at each member
[code]

Run `bazel sync`, then it causes an error like t

[2022-10-17 14:37] #1447 closed

[2022-10-17 14:38] UebelAndre commented on #1574
That does sound like a separate topic. Could you file a new issue?

[2022-10-17 16:57] #1574 closed

[2022-10-20 21:00] cristifalcas opened #1597 "new version for process_wrapper fixes"
Can I ask for a new version for `commit/b04aa053cf4fa556f564ef8208fbd07429770ed4`?

Thank you

[2022-10-20 23:31] rdelfin opened #1598 "Crates Universe not exposing binary targets"
I'm in the process of switching a repo from `cargo raze` to `crates_universe` and I encountered an issue with binary cargo deps. Specifically, there's a handful of dependencies we use as plain binaries. An example of this would be the [`cxxbridge-cmd` ](https://crates.io/crates/cxxbridge-cmd) crate, which lets us interface with C++ code.

As part of how it works, it has a binary which is responsib

[2022-10-21 02:46] rdelfin opened #1599 "Crate Universe feature request: skipping dependencies"
Much like my previous issue on here, I'm in the process of moving a repo from using cargo raze over to crate universe, and I've hit one of the stranger packages in our dependencies. We currently (indirectly) depend on a library that generates bindings for a C library in its build.rs file. Because of how it does so, we have to basically replace the whole crate with our own bazel-friendly implementa

[2022-10-21 02:58] UebelAndre commented on #1598
`crates_repository` generates aliases for binary targets in a package as `{crate_name}__{binary}`. So you should have a binary available for you at `@crate_index//:cxxbridge-cmd__cxxbridge`. Does that work for your use cases?

[2022-10-21 08:55] illicitonion commented on #1599
This seems like a very reasonable feature request - I quite like how rules_jvm_external models this as "override_targets": https://github.com/bazelbuild/rules_jvm_external#overriding-generated-targets

Also, instead, I guess this _may_ be vaguely able to be cobbled together today by using the [`patches`](https://doc.rust-lang.org/cargo/reference/overriding-dependencies.html#the-patch-section) sect

[2022-10-21 09:40] jmillikin opened #1601 "Support building pure-Rust targets without a C++ toolchain"
Currently `rules_rust` expects a full C++ toolchain to be present for the target platform, even if the code being compiled is pure Rust with no C/C++ dependencies. This makes cross-compilation pretty awkward compared to Cargo, which is fine with pretty much any target platform and only requires a cross-linker such as `lld`.

The upcoming Bazel 6.0 includes support for marking toolchains as optiona

[2022-10-21 12:40] rdelfin commented on #1598
Amazing! That seems to work @UebelAndre. I'll go ahead and close this issue and you might see a PR from me adding this to the documentation

[2022-10-21 12:40] #1598 closed

[2022-10-21 12:41] rdelfin commented on #1599
Oh, I hadn't thought about using `patches` to do that :thinking:
That would at least get me unblocked! I'll give that a try and might reach out on slack, thanks @illicitonion :smile:

[2022-10-24 10:29] iamricard commented on #1502
👋🏼 this seems to happen consistently (0.11.0 also returns a 404). how about the release notes omit the mirror until the issue is resolved? although i thought there was no automated process, just a [Googler doing it](https://github.com/bazelbuild/rules_python/issues/400#issuecomment-776810051)

[2022-10-24 13:57] fieryboa opened #1603 "Wrong linker being used when trying to cross compile for aarch64"
Hello,
I tried to cross compile a simple hello world program for aarch64 on a x86_64 host. I set up a cc_toolchain for aarch64 (mostly by removing the things I don't need from [https://github.com/bazelbuild/rules_cc/blob/main/cc/private/toolchain/cc_toolchain_config.bzl](https://github.com/bazelbuild/rules_cc/blob/main/cc/private/toolchain/cc_toolchain_config.bzl)), and when I tried to compile the

[2022-10-24 21:29] UebelAndre commented on #1502
Reopening until I’ve had time to remove references to the Google mirror from older release notes.

[2022-10-25 08:07] fieryboa commented on #1603
So it turns out for aarch64, `-B/tmp/thecorrectld` is not required, removing it makes things work. But for x86, `-B/usr/bin` is required, otherwise it throws a `fatal error: cannot find 'ld'`. The toolchains for both platform are nearly identical, so no idea why `-B/usr/bin` is required

[2022-10-25 18:05] UebelAndre commented on #1502
The release notes have been updated. The only outstanding item is https://github.com/bazelbuild/rules_rust/pull/1607

[2022-10-26 00:29] mattbonnell opened #1608 ""Cargo-free" setup - workspace splicing times out"
Here's the relevant part of my WORKSPACE
[code]

The `Cargo.Bazel.lock` file is empty.

I run the following to update the dependencies
[code]

and it hangs on `Splicing cargo workspace`:
[code]

Finally, it times out with this error
[code]

[2022-10-26 00:54] mattbonnell commented on #1608
If I remove the `packages` map, it returns successfully

[2022-10-26 01:24] UebelAndre commented on #1608
In general the thing that takes the longest when splicing is running a `cargo update`. Are you sure this isn't constrained on your network and is genuinely taking a long time? I've seen this be the case whenever someone runs this for the first time on their host. Perhaps try setting [crates_repository.isolated](https://bazelbuild.github.io/rules_rust/crate_universe.html#crates_repository-isolated)

[2022-10-26 06:37] mattbonnell commented on #1608
This worked, thank you

[2022-10-26 06:37] #1608 closed

[2022-10-26 08:27] QuentinPerez opened #1609 "crates_repository: how to define a crate twice with a different set of features ?"
:wave:
Is there a way to define a crate multiple times with a different set of features ?
I tried something like that but it seems that the crate is filtered out.
crates_repository(
    ...
    packages = {
        "tonic-tls": crate.spec(
            features = ["tls"],
            package = "tonic",
            version = "0.8",
        ),
        "tonic": crate.spec(
            version = "0.8",

[2022-10-26 14:36] #1502 closed

[2022-10-26 17:18] praveenkulkarni1996 opened #1610 "Adding @rules_rust does not find the symbols for it."
Adding the section to my WORKSPACE file.

[code]

gives the following error on an M1 macbook air.

[code]

[2022-10-26 17:24] #1610 closed

[2022-10-26 19:12] UebelAndre commented on #1609
Odd, I would have expected that to work. I can take a look.

[2022-10-29 20:16] QuentinPerez opened #1615 "dylint support"
Hello 👋,

I am thinking about having a cargo-less environment but I haven't found a way yet, to have Clippy plugins with https://github.com/trailofbits/dylint  + Bazel.
Is there any progress on it or ideas on how to it?

[2022-11-01 09:00] gferon commented on #1573
I'm also seeing the same issue with a `rust_binary`, I can try to make a small example project that fails to run on macOS.

[2022-11-01 11:46] SalmaSamy opened #1618 "Bazel CI: rules_rust is broken in Bazel@HEAD downstream"
[rules_rust](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2715#018432d6-294d-42d6-8634-aaeb76050c85) is failing in the downstream with the following error:
[code]

[2022-11-01 11:49] SalmaSamy commented on #1618
/cc @scentini

[2022-11-01 16:41] rdelfin commented on #1618
I'm seeing this error on my PR, #1616.

[2022-11-02 15:29] #1618 closed

[2022-11-02 17:58] andrewpollack opened #1622 "crates_vendor: versions using incompatible package name `+`"
Per https://bazel.build/concepts/labels#package-names , packages cannot contain a name including a `+`.

This presents a problem for the package `wasi-0.11.0+wasi-snapshot-preview1` found at https://docs.rs/crate/wasi/0.11.0+wasi-snapshot-preview1 .

`Error: Failed to parse label from string: @//third_party/rust_crates/vendor/wasi-0.11.0+wasi-snapshot-preview1:BUILD.bazel`

Minimal repro:

## Comm

[2022-11-02 18:26] tmandry commented on #1622
It seems like everyone will hit this, since it's a dependency of `rand`. The only workaround I know of is to use the `patch` section of Cargo.toml to patch out the dependency. This should work as long as you don't target wasi.

[2022-11-02 19:37] UebelAndre commented on #1622
This seems like something that wouldn’t be too hard to fix. If anyone wants to take a stab at a PR I’d be happy to review but it’ll be a while before I could pick this up myself :(

[2022-11-02 21:53] P1n3appl3 opened #1623 "Per-toolchain rustflags"
You can already set `stdlib_linkflags` on a `rust_toolchain` so that every target that links to std adds those flags. We have a `rust_toolchain` with a stdlib that's compiled with `Cpanic=abort`, so we need every target that's built with that toolchain to also set panic abort in their _rustflags_.

We initially tried setting this globally by putting `'--@rules_rust//:extra_exec_rustc_flags="-Cpani

[2022-11-03 08:57] krasimirgg commented on #1623
This will be useful for us as well. I'm experimenting with sanitizer-enabled toolchains, where we want to always pass, e.g., `-Zsanitize=address` when using a specific rust toolchain (that contains pre-built sanitized versions of the standard libraries). Note that since we have two flavours of extra flags (exec and non-exec), we'd need two flavours of per-toolchain rust flags as well, e.g., `Toolc

[2022-11-03 17:27] UebelAndre commented on #1623
Isn't there prior art for this too for C/C++ toolchains too? Can't you pass `linkopts` and `copts` to the toolchain too to have it set on all targets? I think it sounds totally reasonable to have some binary/library/test attributes get added to `rust_toolchain` where flags set there would apply to all targets built with it.

[2022-11-03 18:47] scentini commented on #1623
@UebelAndre Yes, and it is much more powerful than this FR. In C/C++ rules land most of the flags end up going through the toolchain, even flags set via attributes on rules. Most of this is realised via the `--features` option and so-called toolchain variables that get populated in the rule implementation.
For example, there is the [`user_compile_flags`](https://github.com/bazelbuild/bazel/blob/ma

[2022-11-04 10:38] SalmaSamy opened #1629 "Bazel CI: rules_rust is failing on windows in Bazel@HEAD downstream"
rules_rust is failing in the [downstream](https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2719#01843eac-cdcb-4ad0-97a7-732975d4b37a) with the following error:

<img width="1006" alt="Screen Shot 2022-11-03 at 11 08 55 PM" src="https://user-images.githubusercontent.com/16399431/199812532-7c5cbfd2-ac53-4ba3-870b-99dd10698392.png">

/cc @scentini

[2022-11-04 15:27] UebelAndre commented on #1623
Adding features like this sound good to me as long as it doesn't restrict us from picking up similar features to the more mature `cc_toolchain`. 😄

[2022-11-04 16:24] #1597 closed

[2022-11-04 21:50] andrewpollack opened #1631 "crates_vendor: [patch.crates-io] fails to patch primary/transitive dependencies for `path = "..."`"
Using `[patch.crates-io]` in your `Cargo.toml` to patch to local copies of a crate via `CRATE_NAME = { path = "path/to/crate"}` is currently failing with an error of style: `Error: The package 'Name("zerocopy") Version { major: 0, minor: 6, patch: 1 }' has no source info so no annotation can be made`. This fails for patching both primary and transitive dependencies.

This same workflow functions f

[2022-11-05 15:25] semtexzv commented on #1622
Fixed in https://github.com/bazelbuild/rules_rust/pull/1632

[2022-11-06 10:02] semtexzv opened #1633 "Implement a 'check' target for 'rust_binary' and 'rust_library'."

[2022-11-06 21:45] mattbonnell commented on #515
Late to the party.

I'm using rules_bazel in "direct packages"/Cargo.toml-free. We run a polyglot monorepo so being able to use pure Bazel and avoid bringing in language-specific build config formats is a big usability win for us.

That said, the ability to configure compilation profiles that Cargo.toml provides is noticeably absent in this setup. Curious how other folks in the community are worki

[2022-11-07 10:16] meteorcloudy commented on #1629
This is also failing with Bazel 5.3.2 after I disabled remote caching for rules_rust, see https://buildkite.com/bazel/rules-rust-rustlang/builds/7338#01845190-54a3-4d53-9c8f-33104a99f6b9

Previously, it was passed because remote caching was used incorrectly, which means your toolchain setup is probably not hermetic.

[2022-11-07 10:17] meteorcloudy commented on #1629
@UebelAndre @hlopko Can you take a look at this issue? This is the only failure in Bazel downstream ;)

[2022-11-07 18:09] cristifalcas commented on #1521
I also would like to see where I can set this. It's not clear for me at all

[2022-11-07 19:18] UebelAndre commented on #1629
@scentini seems the new opt build introduced by https://github.com/bazelbuild/rules_rust/pull/1621 is failing on windows, would you be able to take a look?

[2022-11-07 22:09] wmatthews-google commented on #1417
@nathanosdev - if you haven't had a chance to work on this, I can attempt a PR for this in the next few days.

[2022-11-08 01:14] mattbonnell opened #1637 "Error parsing `target_abi` cfg expression"
WORKSPACE
[code]

`rust_external_packages` returns a list of `crate.spec`.

The error occurs when I attempt to add
[code]

to my `crate_index.packages`. After running `REPIN=1 bazel sync --only=crate_index`, I get
[code]

[2022-11-08 01:33] mattbonnell commented on #1637
Ok, no error for `parquet = 14.0.0`. Going to work my way up and identify the version that introduces the issue

[2022-11-08 01:39] mattbonnell commented on #1637
`parquet = 21.0.0` is where the trouble starts. diffing it against `20.0.0`...

[2022-11-08 02:06] mattbonnell commented on #1637
Ok, `arrow-21.0.0` -- which `parquet-21.0.0` depends on -- upgrades the `ahash` dependency from `0.7` to `0.8`.

The `0.8` dependency is resolved with the recently-released ['ahash-0.8.1'](https://github.com/tkaitchuck/aHash/releases/tag/v0.8.1).

Whose Cargo.toml contains the troublesome lines
https://github.com/tkaitchuck/aHash/blob/673c17c930ef201233c14ee81136bad447cc2a5c/Cargo.toml#L83-L87

Re

[2022-11-08 02:06] #1637 closed

[2022-11-08 09:38] nathanosdev commented on #1417
@wmatthews-google That would be awesome. If you change your mind or something else gets in the way, let me know and I can pick it back up again.

[2022-11-09 03:23] freeformstu opened #1642 "Add Cargo expand functionality"
[Cargo expand](https://github.com/dtolnay/cargo-expand) is an extremely useful command for debugging Rust source files with complicated proc macros. `cargo expand` is just a wrapper around `rustc` which passes in the flag `-Zunpretty=expanded`.

**Proposal**

Add a `rust_expand` and `rust_expand_aspect` to the core rules which functions similarly to the clippy rules. The `rust_expand` rule can be

[2022-11-09 08:41] meteorcloudy commented on #1629
Thanks, since the CI is green now, I'll also close this one.

[2022-11-09 08:42] meteorcloudy commented on #1629
But feel free to reopen if you want to use this issue to track follow up fixes ;)

[2022-11-09 19:30] carols10cents commented on #1637
This should be fixed by https://github.com/bazelbuild/rules_rust/pull/1636

[2022-11-09 22:38] #1576 closed

[2022-11-10 06:42] wmatthews-google commented on #1417
Ok... I've got a draft PR out that works for everything I've thrown at it thus far (other than an issue with platforms and `crate_features` with `wgpu-hal`, but that's separate): https://github.com/bazelbuild/rules_rust/pull/1647

[2022-11-10 08:56] krasimirgg commented on #1521
The remap path prefix is not user-configurable I believe. We have it as a param to the internal function that computes the compiler flags, but that's only ever called with the default of "" or None from the rustdoc definitions.
The thing that makes it a bit special is that it requires `${{pwd}}` substitution:
https://github.com/bazelbuild/rules_rust/blob/c8ab970c4b89dca6cd8cd4ad5c602180acb1e5a9/ru

[2022-11-10 09:38] googleson78 opened #1648 "Document that pipelining exists"
Currently pipelining seems to be supported, but it's not really described much outside of the implementation, as far as I can tell.

I think it would be good to at least have some place that's hard to miss that users will immediately notice, so that they can be aware of this functionality existing.

Optionally, it would be good to describe the design of the implementation somewhere, but I think th

[2022-11-10 09:44] googleson78 opened #1649 "Document/provide "cargo check"-like functionality"
`cargo check` is something that rust developers very often use - it can save lots of time. It turns out we can easily provide close to the same thing `rules_rust`.

Thanks to the recently implemented pipelining support we can somewhat get "check"-like functionality for free.
This is due to the fact that `cargo check` essentially tries to only output `.rmeta` files whenever possible (e.g. whenever

[2022-11-14 16:14] UebelAndre opened #1656 "Transitioning on toolchain channels"
I'm looking for a way to have some targets transition on the Rust toolchain channel (stable, nightly, beta) without needing to define a platform with this as a constraint. Defining platforms is difficult since `rust_toolchain` requires a `cc_toolchain` and once [--platforms](https://bazel.build/reference/command-line-reference#flag--platforms) (or [--host_platform](https://bazel.build/reference/co

[2022-11-14 16:16] UebelAndre commented on #1656
This request is related to https://github.com/bazelbuild/rules_rust/issues/1642 where I think it'd be cool if users weren't forced to define their own platforms or always use a nightly toolchain for the entire workspace just to use the functionality there.

[2022-11-14 16:16] UebelAndre commented on #1656
cc @illicitonion @krasimirgg @scentini for ideas

[2022-11-15 10:47] googleson78 commented on #1633
The "check" part of this is already somewhat possible and working today, with some config options. See https://github.com/bazelbuild/rules_rust/issues/1649

I also gave the "json output" somewhat of a shot in https://github.com/bazelbuild/rules_rust/pull/1657.

The "automatically insert the target into `rust-project.json`" isn't currently possible afaik, due to the fact that `rust-project.json` do

[2022-11-15 10:50] googleson78 commented on #1548
See [this comment](https://github.com/bazelbuild/rules_rust/issues/1633#issuecomment-1315129991) on a similar issue.

[2022-11-15 10:51] googleson78 commented on #1531
I think my PR might be of interest to you - https://github.com/bazelbuild/rules_rust/pull/1657

In there, if you always run with the "save output" flag, you can reuse your cache and also get normal human readable error messages. I'd hope saving the output from rustc is not heavyweight enough to affect compilation times.

It's still not ready to be used yet though, as I described in the PR.

[2022-11-15 10:52] googleson78 commented on #428
This is now somewhat possible, see https://github.com/bazelbuild/rules_rust/issues/1649

[2022-11-15 10:52] googleson78 commented on #228
This is now implemented, right?

[2022-11-15 14:22] UebelAndre commented on #1550
Can you link an example of the error?

[2022-11-15 16:22] fmorency commented on #1550
@UebelAndre @illicitonion

Here's the error I'm getting when trying to build the MRE as-is. I will work on creating a Docker container.

[code]

[2022-11-15 16:29] UebelAndre commented on #1609
Finally got some time to look into this and this seems to actually be an error in Cargo that is not surfaced when running `cargo metadata`. Using a small repro `Cargo.toml` I can generate an error:
[code]
[code]
When splicing this manifest, `crate_universe` receives a json dump that has effectively an empty [resolve section](https://doc.rust-lang.org/cargo/commands/cargo-metadata.html#output-forma

[2022-11-15 20:35] fmorency commented on #1550
@illicitonion

Dockerfile
[code]

Save this Dockerfile somewhere and run `docker build . -t bazelsyscov:latest` in the folder where the Dockerfile is located.

You should get
[code]

[2022-11-16 12:45] scentini commented on #1629
@meteorcloudy  I have https://github.com/bazelbuild/rules_rust/pull/1658 to reenable the windows job; I believe the issue is that the `--{no}enable_runfiles` flag does not invalidate the action cache. Is this something that should be fixed in Bazel core?

[2022-11-16 13:53] #1629 closed

[2022-11-16 14:45] fmorency commented on #1519
Got bitten by this as well. Is there a known workaround?

[2022-11-16 21:51] Timmmm commented on #276
This is all really unclear. I can kind of see that you use `rust_repository_set()` or maybe `rust_register_toolchains()` like this

[code]

(Though the docs for `rust_register_toolchains()` basically say not to do that. I assume they are out of date.)

That will presumably make sure there's a Rust toolchain that can compile to that `-target`. But how do you actually tell a Rust Bazel target (i.e.

[2022-11-17 11:33] Timmmm opened #1659 "Error when using VSCode with Bazel extension"
I tried to use the VSCode extension on a Bazel project that uses `rust_rules` and it gives this error in the log:

[code]

Any idea what this is on about? As far as I can see there *is* a `BUILD.bazel` next to `rust/repositories.bzl`.

[2022-11-17 11:50] Timmmm commented on #1659
Hmm I solved this error by upgrading from to the latest `rust_rules`. However then I got another error about skylib missing. Ok fine, I added skylib to my workspace.

Then I got the same `error loading package ''` error for `@pybind11_bazel//:python_configure.bzl`. Ah well.

[2022-11-17 11:50] #1659 closed

[2022-11-17 16:08] Timmmm commented on #276
Ok it seems like Bazel's model is that there is only one target per compilation. Unfortunate. I guess that's all Google really needs internally.

Apparently you need to use [custom transitions](https://bazel.build/extending/config#user-defined-transitions) to solve it but that looks very complicated.

[2022-11-18 06:55] wmatthews-google opened #1662 "crate_universe support for `resolver = "2"` target-specific features"
As far as I can tell, `crate_universe` doesn't support target-specific feature selection.

E.g. (from https://doc.rust-lang.org/cargo/reference/resolver.html#feature-resolver-version-2)
[code]

will lead to `crate_universe` generating
[code]

I think it'd be better if it generated something more like
[code]

This is particularly an issue for [`wgpu-hal`](https://crates.io/crates/wgpu-hal) and ther

[2022-11-18 15:06] meteorcloudy commented on #1629
Ah, this is possible, do you mind filing an issue to bazel repo and perhaps provide a minimal reproduce case? (possibly with disk cache is enough?)

[2022-11-18 15:29] illicitonion commented on #1662
Thanks for filing the issue! Yeah, we have https://github.com/rust-lang/cargo/issues/9863 open against cargo to get this exposed via `cargo metadata`, but don't expect any progress to be made on it with any particular time-frame.

I would be very happy to review and merge in a port/rewrite of @sayrer's `cargo tree` code from `cargo-raze`. I think it was mostly originally in https://github.com/goog

[2022-11-18 15:45] illicitonion commented on #276
It's worth noting that `--platforms` is a plural flag, so you can build for multiple platforms in one invocation, but _all_ targets you specify will be built for those platforms.

i.e. you can do: `bazel build --platforms=//some:linux_arm64,//some:linux_amd64 //some/rust:target`

FWIW there was quite a bit of discussion at BazelCon this week about folks, including Google, _wanting_ it to be easier

[2022-11-18 15:48] UebelAndre commented on #276
re: https://github.com/bazelbuild/rules_rust/issues/276#issuecomment-1320198911

Doesn't this require you to define custom `cc_toolchain` targets for all exec and target platforms? Since you'll lose the ability to use the local/auto toolchain.

[2022-11-18 15:50] illicitonion commented on #276
Yes, you would need appropriate toolchains set up for both Rust and C++.

[2022-11-18 16:24] illicitonion commented on #1609
Hmm... I think the issue here is that features may lead to different dependencies (e.g. that `tls` feature adds a dependency on `rustls-pemfile` which isn't otherwise present), so we need to get cargo to do separate resolves for each of those crates _somehow_. And enabling features can enable features of dependencies, so we technically can't just localise this to one crate. I guess to achieve that

[2022-11-18 17:10] wmatthews-google commented on #1662
Sounds good... I'll see what I can do...

Thanks for the links.

[2022-11-18 17:14] wmatthews-google commented on #1417
I think this is now fixed?

[2022-11-18 17:47] UebelAndre commented on #1417
Closing this out until someone says otherwise 😄

[2022-11-18 17:47] #1417 closed

[2022-11-18 20:29] illicitonion commented on #1609
Actually, reflecting more... I think 3 may be the right way to go here.

Fundamentally, if someone ends up with both `tonic` and `tonic-tls` in their build graph for a single target, they're going to have sad times (possibly symbols not being compatible across crate boundaries, possibly duplicate symbol link errors), so I feel like the correct thing for us to do there _is_ to say: It's your respon

[2022-11-18 22:26] illicitonion commented on #1550
I did a little debugging of this - it looks like this is some bug in the interaction between thread-local storage and gcc's coverage mode.

I'll try to debug a little further and file a bug upstream, but in the mean time, I'd also say it's a bug that CFLAGS/CXXFLAGS _override_ rather than _append to_ the cc_toolchain-supplied values, so I'll spin up a PR which fixes that too. Then to work around t

[2022-11-18 22:26] illicitonion commented on #1550
(Also, thanks for providing the docker image repro, it was really helpful!)

[2022-11-21 16:05] fmorency commented on #1550
Thanks for confirming the issue and looking into it.

[2022-11-22 17:30] illicitonion commented on #1550
I spent a while trying to minimise the bug in gcc, but didn't get _super_ far. I suspect it's some interaction between templates, closures, and thread-locals when using code coverage (which... Kind of makes sense as difficult features to interact).

@fmorency Unfortunately I don't currently have permission to file a bug against gcc, but I'd encourage you to do so here https://gcc.gnu.org/bugzilla/

[2022-11-22 20:36] tudny opened #1666 "Missing rules at `/flatten.html`"
Some rules are missing at `/flatten.html`.

E.g. rules defined at
http://bazelbuild.github.io/rules_rust/crate_universe.html
- `aliases`
- `crate_deps`
- `all_crate_deps`
- `crate_repositories`

[2022-11-23 13:10] bazaglia commented on #507
Hey @dae, the repository @UebelAndre linked above isn't available anymore. Do you happen to still have a snippet I could try? I'm running into the same problem and couldn't fix it even when trying to use `cc_import`. It seems to just don't add anything to the `rust_binary`

[2022-11-23 13:47] dae commented on #507
Sorry, I have no experience with cc_import.

[2022-11-23 15:46] dmitrii-ubskii opened #1667 "Misleading documentation for `data`"
The documentation for `rust_library` (https://bazelbuild.github.io/rules_rust/defs.html#rust_library-compile_data) claims that `data` is included at compile-time and runtime, and `compile_data` is included only at runtime.

I was using pest to generate parser definitions from a dedicated grammar file. When I added `data = [ "parser/grammar.pest" ]` to the `rust_library` declaration, I was greeted

[2022-11-24 14:06] fmorency commented on #1550
@illicitonion I think it's important to mention that the project builds fine with Cargo and code coverage instrumentation enabled.

I would (naively) expect Bazel to be able to reproduce the same behavior; the Bazel workspace relies on the Cargo manifest to build its index.

Bazel is doing something that Cargo isn't.

[2022-11-24 18:19] bazaglia opened #1668 "Cargo Workspaces fails to build because of transitive dependency"
I'm trying to build a project that uses Cargo Workspaces. One of the dependencies has a transitive dependency on [rusty_v8](https://crates.io/crates/v8), that makes my build fail with:

[code]

My target looks like the following:

[code]

The build actually downloads the [librusty_v8_release_x86_64-apple-darwin.a](https://github.com/denoland/rusty_v8/releases/download/v0.44.3/librusty_v8_release_x

[2022-11-24 19:47] kwonoj opened #1670 "Fail to build a dependency have build script relies on C (-sys)"
I'm not sure if this belongs a bug, or more of a misconfiguration requires troubleshooting, probably latter.

The dependecy I'm trying to build is `tikv-jemallocator` (https://github.com/tikv/jemallocator). It have `jemalloc-sys` as transitive depepdency, which is a rust bindings to c library, and to build it uses [`configure` internally](https://github.com/tikv/jemallocator/blob/8b886be1677d16938

[2022-11-25 14:41] UebelAndre opened #1672 "Non-determinisitic behavior with `import` util"
I noticed a build failure on https://github.com/bazelbuild/rules_rust/pull/1669 which I didn't expect based on the changes being made:

https://buildkite.com/bazel/rules-rust-rustlang/builds/7484#0184af2d-b9bf-42d9-afe6-12b999c35d61
[code]

@hlopko @scentini would either of you have any idea what's happening there?

[2022-11-26 17:24] UebelAndre commented on #1535
I was finally able to get around to writing up a patch for this:
- https://github.com/rustsec/rustsec/pull/767

[2022-11-26 21:12] bazaglia commented on #1668
Repo with the fix: https://github.com/bazaglia/rules_rust_apollo_router

[2022-11-26 21:12] #1668 closed

[2022-11-27 16:05] UebelAndre commented on #507
For anyone looking to build `rusty_v8`, https://github.com/bazelbuild/rules_rust/issues/1668 shows a working example since the example in the original post was lost.

[2022-11-27 16:07] UebelAndre commented on #1668
Users can also checkout that below:

| archive | sha256 |
| --- | --- |
| [rules_rust_apollo_router-c4af9f2967540d70840e8c8b47599b2cbdee0b4e.zip](https://github.com/bazelbuild/rules_rust/files/10098681/rules_rust_apollo_router-c4af9f2967540d70840e8c8b47599b2cbdee0b4e.zip) | 9b22e5d59698fb57c567d92ca2e39406afbd9ee0563b73b3ad5cad0b5fbbd628 |

[2022-11-28 13:01] hlopko commented on #1672
That's very interesting, very likely our bug. Could you please disable the test in your PR so we're not blocking the submission with this. I'll take a look this week. Thank you!!

[2022-11-28 13:53] illicitonion commented on #1670
In general the approach I'd recommend for Rust depending on C++ from `cargo_build_script` targets is to, where possible, use Bazel to build the C++ in a `cc_library` or with `rules_foreign_cc`, and wiring the `cargo_build_script` up to use that output.

There's an example of doing this for openssl here: https://github.com/bazelbuild/rules_rust/blob/ed32b6de26118eecf207b7d33c8a4fc31848e0e3/examples

[2022-11-28 13:53] #1670 closed

[2022-11-28 14:15] illicitonion commented on #1550
It's a good thing to note - could you turn up the logging of the cargo version (at least running `cargo build -vv`) to see if you can get to the exact `gcc` invocation you're seeing with Cargo? (I don't actually know how to run a cargo build withwith coverage!)

I strongly suspect the difference comes from `cargo` using a slightly different set of flags than the default Bazel C++ toolchain does, a

[2022-11-29 01:13] jfirebaugh opened #1674 "Hard to follow crate_universe documentation"
I'm trying to follow this example in https://bazelbuild.github.io/rules_rust/crate_universe.html#direct-packages:

[code]

This produces the following error:

[code]

If I replace `@cargo_bazel//:defs.bzl` with `@rules_rust//crate_universe:defs.bzl`, then:

[code]

If I replace `lockfile` with `cargo_lockfile`, then:

[code]

Okay, I read further down in the documentation, it says "If set, this fi

[2022-11-29 08:58] bazaglia commented on #1674
I agree that the documentation for that isn't the best. You need to provide both `cargo_lockfile` and `lockfile`. For generating your `lockfile`, that will be holding some json content, run `CARGO_BAZEL_REPIN=1 bazel sync --only=crate_index` or any other command prefixed with `CARGO_BAZEL_REPIN=1`.

[2022-11-29 11:47] illicitonion commented on #1550
The flag merging instead of overriding change is here: https://github.com/bazelbuild/rules_rust/pull/1675

[2022-11-29 12:06] illicitonion opened #1676 "crate_universe: Start auto-populating missing lockfiles and cargo_lockfiles in Bazel 6"
https://github.com/bazelbuild/bazel/pull/13417 added the ability to find the workspace root from a `repository_ctx`, and will be in Bazel 6.

Currently, if the `lockfile` or `cargo_lockfile` points at a file which doesn't exist, we give a really unclear error:
[code]

Instead, now that we have this API, we should be able to:
1. Switch `cargo_lockfile` from being an `attr.label` to being an `attr.s

[2022-11-29 12:07] illicitonion commented on #1676
Also, we should only do the above if we sniff the version to be Bazel 6 - in pre-Bazel 6 we'll need to keep the old behaviour (which we can do by just making the "parse out the label and resolve ourselves" stage of step 2 conditional).

[2022-11-29 12:10] illicitonion commented on #1674
Thanks for the bug report - I definitely agree with all of the points you've raised!

On the `@cargo_bazel` reference and the `lockfile`/`cargo_lockfile` confusion, I've just raised https://github.com/bazelbuild/rules_rust/pull/1677

I also agree with the "Error in path" issue, but sadly this one is much harder for us to fix because of some Bazel limitations. Fortunately, we should be able to give

[2022-11-29 14:16] #1674 closed

[2022-11-29 16:08] jfirebaugh commented on #1674
Thanks you for the documentation improvements!

I'm still confused by the `lockfile`/`cargo_lockfile` distinction in the "Cargo free" setup (the example I was trying to follow). You changed it to:

https://github.com/bazelbuild/rules_rust/blob/605f427bf7c016f585cf815bc0f38175859bf76e/crate_universe/docs.bzl#L107-L108

But in a Cargo-free setup, `Cargo.lock` won't exist? Is the expectation that you

[2022-11-29 16:18] illicitonion commented on #1674
I believe currently both are required, but that repinning should generate both if they're empty; I think in cargo-free mode we could probably make the `cargo_lockfile` optional and either derive the information either from your `packages` attribute or sneak the information into the other `lockfile`, but that would require a bit of design work.

Conceptually, the `cargo_lockfile` is information use

[2022-11-29 16:20] illicitonion commented on #1674
/cc @UebelAndre for thoughts (and to check my last message), too

[2022-11-29 23:43] andrewpollack opened #1679 "Docs default to curly quotes (instead of straight quotes) for Attributes sections"
I'm loving the docs so far, they are super helpful for stepping through `rules_rust` :smile_cat:

One problem I've ran into involves copy+pasting quoted values in the `Attributes` sections. For example, [`supported_platform_triples` section here](http://bazelbuild.github.io/rules_rust/crate_universe.html#repinning--updating-dependencies). When copy+pasting, the default is to have curly quotes `“”`

[2022-11-30 05:11] UebelAndre opened #1681 "Add support for `--nolegacy_external_runfiles`"
[--nolegacy_external_runfiles](https://bazel.build/reference/command-line-reference#flag--legacy_external_runfiles) can be very helpful by improving sandbox performance by reducing the number of runfiles produced by executables. It would be great if rules_rust could fully support this flag.

[2022-11-30 05:12] UebelAndre commented on #1681
The repo mostly works with this flag but there's some issues with `rust_doc_test` and `crates_vendor` (crate_universe rule). I've opened https://github.com/bazelbuild/rules_rust/pull/1680 to address the `crates_vendor` issue but `rust_doc_test` is a bit more nuanced and requires a deeper look

[2022-11-30 13:11] illicitonion commented on #1679
Thanks for the report!

This is a stardoc / GitHub Pages interaction - I've reported upstream as https://github.com/bazelbuild/stardoc/issues/142 with a proposed fix in https://github.com/bazelbuild/stardoc/pull/143

https://github.com/bazelbuild/rules_rust/pull/1682 pulls in the proposed fix into rules_rust

[2022-11-30 17:45] illicitonion commented on #1679
I've verified http://bazelbuild.github.io/rules_rust/crate_universe.html#repinning--updating-dependencies now has non-curly quotes - thanks again for the report!

[2022-11-30 17:45] #1679 closed

[2022-11-30 17:49] andrewpollack commented on #1679
Amazing turnaround -- thank you @illicitonion !

[2022-11-30 22:13] P1n3appl3 opened #1685 "Vendoring rules_rust crate deps"
Currently rules_rust contains several rust tools such as `//tools/rustfmt`, `//tools/urls_generator`, `//util/dir_zipper`, `//util/process_wrapper`, `//crate_universe:cargo_bazel_bin`, `//crate_universe/tools/cross_installer`, `//tools/rustdoc:rustdoc_test_writer`, and `//tools/rust_analyzer:gen_rust_project`. Most of these use `crates_vendor` with checked-in auto-generated BUILD files, but none o